/**
 * Ed-Fi Operational Data Store API
 * The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. The Ed-Fi ODS / API supports both transactional and bulk modes of operation.  ***  > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.*  *** 
 *
 * OpenAPI spec version: 3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package org.edfi.api.resource;

import org.edfi.api.ApiCallback;
import org.edfi.api.ApiClient;
import org.edfi.api.ApiException;
import org.edfi.api.ApiResponse;
import org.edfi.api.Configuration;
import org.edfi.api.Pair;
import org.edfi.api.ProgressRequestBody;
import org.edfi.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import org.edfi.model.resource.EdFiCourse;
import org.joda.time.LocalDate;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CoursesApi {
    private ApiClient apiClient;

    public CoursesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CoursesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for deleteCourseById */
    private com.squareup.okhttp.Call deleteCourseByIdCall(String id, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteCourseById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/courses/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteCourseById(String id, String ifMatch) throws ApiException {
        deleteCourseByIdWithHttpInfo(id, ifMatch);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteCourseByIdWithHttpInfo(String id, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = deleteCourseByIdCall(id, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes an existing resource using the resource identifier. (asynchronously)
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteCourseByIdAsync(String id, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCourseByIdCall(id, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getCourses */
    private com.squareup.okhttp.Call getCoursesCall(Integer offset, Integer limit, Boolean totalCount, String courseCode, Integer educationOrganizationId, String academicSubjectDescriptor, String careerPathwayDescriptor, String courseDefinedByDescriptor, String courseGPAApplicabilityDescriptor, String minimumAvailableCreditTypeDescriptor, String maximumAvailableCreditTypeDescriptor, String courseDescription, String courseTitle, LocalDate dateCourseAdopted, Boolean highSchoolCourseRequirement, String id, Integer maxCompletionsForCredit, Double maximumAvailableCreditConversion, Double maximumAvailableCredits, Double minimumAvailableCreditConversion, Double minimumAvailableCredits, Integer numberOfParts, Integer timeRequiredForCompletion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/ed-fi/courses".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (totalCount != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "totalCount", totalCount));
        if (courseCode != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseCode", courseCode));
        if (educationOrganizationId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "educationOrganizationId", educationOrganizationId));
        if (academicSubjectDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "academicSubjectDescriptor", academicSubjectDescriptor));
        if (careerPathwayDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "careerPathwayDescriptor", careerPathwayDescriptor));
        if (courseDefinedByDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseDefinedByDescriptor", courseDefinedByDescriptor));
        if (courseGPAApplicabilityDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseGPAApplicabilityDescriptor", courseGPAApplicabilityDescriptor));
        if (minimumAvailableCreditTypeDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "minimumAvailableCreditTypeDescriptor", minimumAvailableCreditTypeDescriptor));
        if (maximumAvailableCreditTypeDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maximumAvailableCreditTypeDescriptor", maximumAvailableCreditTypeDescriptor));
        if (courseDescription != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseDescription", courseDescription));
        if (courseTitle != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseTitle", courseTitle));
        if (dateCourseAdopted != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "dateCourseAdopted", dateCourseAdopted));
        if (highSchoolCourseRequirement != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "highSchoolCourseRequirement", highSchoolCourseRequirement));
        if (id != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "id", id));
        if (maxCompletionsForCredit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxCompletionsForCredit", maxCompletionsForCredit));
        if (maximumAvailableCreditConversion != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maximumAvailableCreditConversion", maximumAvailableCreditConversion));
        if (maximumAvailableCredits != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maximumAvailableCredits", maximumAvailableCredits));
        if (minimumAvailableCreditConversion != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "minimumAvailableCreditConversion", minimumAvailableCreditConversion));
        if (minimumAvailableCredits != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "minimumAvailableCredits", minimumAvailableCredits));
        if (numberOfParts != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "numberOfParts", numberOfParts));
        if (timeRequiredForCompletion != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "timeRequiredForCompletion", timeRequiredForCompletion));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param courseCode A unique alphanumeric code assigned to a course. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param academicSubjectDescriptor The intended major subject area of the course. (optional)
     * @param careerPathwayDescriptor Indicates the career cluster or pathway the course is associated with as part of a CTE curriculum. (optional)
     * @param courseDefinedByDescriptor Specifies whether the course was defined by the SEA, LEA, School, or national organization. (optional)
     * @param courseGPAApplicabilityDescriptor An indicator of whether or not the course being described is included in the computation of the student&#39;s Grade Point Average, and if so, if it is weighted differently from regular courses. (optional)
     * @param minimumAvailableCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param maximumAvailableCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param courseDescription A description of the content standards and goals covered in the course. Reference may be made to state or national content standards. (optional)
     * @param courseTitle The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, and language arts). (optional)
     * @param dateCourseAdopted Date the course was adopted by the education agency. (optional)
     * @param highSchoolCourseRequirement An indication that this course may satisfy high school graduation requirements in the course&#39;s subject area. (optional)
     * @param id  (optional)
     * @param maxCompletionsForCredit Designates how many times the course may be taken with credit received by the student. (optional)
     * @param maximumAvailableCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param maximumAvailableCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param minimumAvailableCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param minimumAvailableCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param numberOfParts The number of parts identified for a course. (optional)
     * @param timeRequiredForCompletion The actual or estimated number of clock minutes required for class completion.  This number is especially important for career and technical education classes and may represent (in minutes) the clock hour requirement of the class. (optional)
     * @return List&lt;EdFiCourse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<EdFiCourse> getCourses(Integer offset, Integer limit, Boolean totalCount, String courseCode, Integer educationOrganizationId, String academicSubjectDescriptor, String careerPathwayDescriptor, String courseDefinedByDescriptor, String courseGPAApplicabilityDescriptor, String minimumAvailableCreditTypeDescriptor, String maximumAvailableCreditTypeDescriptor, String courseDescription, String courseTitle, LocalDate dateCourseAdopted, Boolean highSchoolCourseRequirement, String id, Integer maxCompletionsForCredit, Double maximumAvailableCreditConversion, Double maximumAvailableCredits, Double minimumAvailableCreditConversion, Double minimumAvailableCredits, Integer numberOfParts, Integer timeRequiredForCompletion) throws ApiException {
        ApiResponse<List<EdFiCourse>> resp = getCoursesWithHttpInfo(offset, limit, totalCount, courseCode, educationOrganizationId, academicSubjectDescriptor, careerPathwayDescriptor, courseDefinedByDescriptor, courseGPAApplicabilityDescriptor, minimumAvailableCreditTypeDescriptor, maximumAvailableCreditTypeDescriptor, courseDescription, courseTitle, dateCourseAdopted, highSchoolCourseRequirement, id, maxCompletionsForCredit, maximumAvailableCreditConversion, maximumAvailableCredits, minimumAvailableCreditConversion, minimumAvailableCredits, numberOfParts, timeRequiredForCompletion);
        return resp.getData();
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param courseCode A unique alphanumeric code assigned to a course. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param academicSubjectDescriptor The intended major subject area of the course. (optional)
     * @param careerPathwayDescriptor Indicates the career cluster or pathway the course is associated with as part of a CTE curriculum. (optional)
     * @param courseDefinedByDescriptor Specifies whether the course was defined by the SEA, LEA, School, or national organization. (optional)
     * @param courseGPAApplicabilityDescriptor An indicator of whether or not the course being described is included in the computation of the student&#39;s Grade Point Average, and if so, if it is weighted differently from regular courses. (optional)
     * @param minimumAvailableCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param maximumAvailableCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param courseDescription A description of the content standards and goals covered in the course. Reference may be made to state or national content standards. (optional)
     * @param courseTitle The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, and language arts). (optional)
     * @param dateCourseAdopted Date the course was adopted by the education agency. (optional)
     * @param highSchoolCourseRequirement An indication that this course may satisfy high school graduation requirements in the course&#39;s subject area. (optional)
     * @param id  (optional)
     * @param maxCompletionsForCredit Designates how many times the course may be taken with credit received by the student. (optional)
     * @param maximumAvailableCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param maximumAvailableCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param minimumAvailableCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param minimumAvailableCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param numberOfParts The number of parts identified for a course. (optional)
     * @param timeRequiredForCompletion The actual or estimated number of clock minutes required for class completion.  This number is especially important for career and technical education classes and may represent (in minutes) the clock hour requirement of the class. (optional)
     * @return ApiResponse&lt;List&lt;EdFiCourse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<EdFiCourse>> getCoursesWithHttpInfo(Integer offset, Integer limit, Boolean totalCount, String courseCode, Integer educationOrganizationId, String academicSubjectDescriptor, String careerPathwayDescriptor, String courseDefinedByDescriptor, String courseGPAApplicabilityDescriptor, String minimumAvailableCreditTypeDescriptor, String maximumAvailableCreditTypeDescriptor, String courseDescription, String courseTitle, LocalDate dateCourseAdopted, Boolean highSchoolCourseRequirement, String id, Integer maxCompletionsForCredit, Double maximumAvailableCreditConversion, Double maximumAvailableCredits, Double minimumAvailableCreditConversion, Double minimumAvailableCredits, Integer numberOfParts, Integer timeRequiredForCompletion) throws ApiException {
        com.squareup.okhttp.Call call = getCoursesCall(offset, limit, totalCount, courseCode, educationOrganizationId, academicSubjectDescriptor, careerPathwayDescriptor, courseDefinedByDescriptor, courseGPAApplicabilityDescriptor, minimumAvailableCreditTypeDescriptor, maximumAvailableCreditTypeDescriptor, courseDescription, courseTitle, dateCourseAdopted, highSchoolCourseRequirement, id, maxCompletionsForCredit, maximumAvailableCreditConversion, maximumAvailableCredits, minimumAvailableCreditConversion, minimumAvailableCredits, numberOfParts, timeRequiredForCompletion, null, null);
        Type localVarReturnType = new TypeToken<List<EdFiCourse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern). (asynchronously)
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param courseCode A unique alphanumeric code assigned to a course. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param academicSubjectDescriptor The intended major subject area of the course. (optional)
     * @param careerPathwayDescriptor Indicates the career cluster or pathway the course is associated with as part of a CTE curriculum. (optional)
     * @param courseDefinedByDescriptor Specifies whether the course was defined by the SEA, LEA, School, or national organization. (optional)
     * @param courseGPAApplicabilityDescriptor An indicator of whether or not the course being described is included in the computation of the student&#39;s Grade Point Average, and if so, if it is weighted differently from regular courses. (optional)
     * @param minimumAvailableCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param maximumAvailableCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param courseDescription A description of the content standards and goals covered in the course. Reference may be made to state or national content standards. (optional)
     * @param courseTitle The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, and language arts). (optional)
     * @param dateCourseAdopted Date the course was adopted by the education agency. (optional)
     * @param highSchoolCourseRequirement An indication that this course may satisfy high school graduation requirements in the course&#39;s subject area. (optional)
     * @param id  (optional)
     * @param maxCompletionsForCredit Designates how many times the course may be taken with credit received by the student. (optional)
     * @param maximumAvailableCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param maximumAvailableCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param minimumAvailableCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param minimumAvailableCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param numberOfParts The number of parts identified for a course. (optional)
     * @param timeRequiredForCompletion The actual or estimated number of clock minutes required for class completion.  This number is especially important for career and technical education classes and may represent (in minutes) the clock hour requirement of the class. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCoursesAsync(Integer offset, Integer limit, Boolean totalCount, String courseCode, Integer educationOrganizationId, String academicSubjectDescriptor, String careerPathwayDescriptor, String courseDefinedByDescriptor, String courseGPAApplicabilityDescriptor, String minimumAvailableCreditTypeDescriptor, String maximumAvailableCreditTypeDescriptor, String courseDescription, String courseTitle, LocalDate dateCourseAdopted, Boolean highSchoolCourseRequirement, String id, Integer maxCompletionsForCredit, Double maximumAvailableCreditConversion, Double maximumAvailableCredits, Double minimumAvailableCreditConversion, Double minimumAvailableCredits, Integer numberOfParts, Integer timeRequiredForCompletion, final ApiCallback<List<EdFiCourse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCoursesCall(offset, limit, totalCount, courseCode, educationOrganizationId, academicSubjectDescriptor, careerPathwayDescriptor, courseDefinedByDescriptor, courseGPAApplicabilityDescriptor, minimumAvailableCreditTypeDescriptor, maximumAvailableCreditTypeDescriptor, courseDescription, courseTitle, dateCourseAdopted, highSchoolCourseRequirement, id, maxCompletionsForCredit, maximumAvailableCreditConversion, maximumAvailableCredits, minimumAvailableCreditConversion, minimumAvailableCredits, numberOfParts, timeRequiredForCompletion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<EdFiCourse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getCoursesById */
    private com.squareup.okhttp.Call getCoursesByIdCall(String id, String ifNoneMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getCoursesById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/courses/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifNoneMatch != null)
        localVarHeaderParams.put("If-None-Match", apiClient.parameterToString(ifNoneMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return EdFiCourse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EdFiCourse getCoursesById(String id, String ifNoneMatch) throws ApiException {
        ApiResponse<EdFiCourse> resp = getCoursesByIdWithHttpInfo(id, ifNoneMatch);
        return resp.getData();
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return ApiResponse&lt;EdFiCourse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EdFiCourse> getCoursesByIdWithHttpInfo(String id, String ifNoneMatch) throws ApiException {
        com.squareup.okhttp.Call call = getCoursesByIdCall(id, ifNoneMatch, null, null);
        Type localVarReturnType = new TypeToken<EdFiCourse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern). (asynchronously)
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCoursesByIdAsync(String id, String ifNoneMatch, final ApiCallback<EdFiCourse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCoursesByIdCall(id, ifNoneMatch, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EdFiCourse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for postCourse */
    private com.squareup.okhttp.Call postCourseCall(EdFiCourse course, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = course;
        
        // verify the required parameter 'course' is set
        if (course == null) {
            throw new ApiException("Missing the required parameter 'course' when calling postCourse(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/courses".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param course The JSON representation of the \&quot;course\&quot; resource to be created or updated. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postCourse(EdFiCourse course) throws ApiException {
        postCourseWithHttpInfo(course);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param course The JSON representation of the \&quot;course\&quot; resource to be created or updated. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postCourseWithHttpInfo(EdFiCourse course) throws ApiException {
        com.squareup.okhttp.Call call = postCourseCall(course, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource. (asynchronously)
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param course The JSON representation of the \&quot;course\&quot; resource to be created or updated. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postCourseAsync(EdFiCourse course, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postCourseCall(course, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for putCourse */
    private com.squareup.okhttp.Call putCourseCall(String id, EdFiCourse course, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = course;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling putCourse(Async)");
        }
        
        // verify the required parameter 'course' is set
        if (course == null) {
            throw new ApiException("Missing the required parameter 'course' when calling putCourse(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/courses/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param course The JSON representation of the \&quot;course\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void putCourse(String id, EdFiCourse course, String ifMatch) throws ApiException {
        putCourseWithHttpInfo(id, course, ifMatch);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param course The JSON representation of the \&quot;course\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> putCourseWithHttpInfo(String id, EdFiCourse course, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = putCourseCall(id, course, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates or creates a resource based on the resource identifier. (asynchronously)
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param course The JSON representation of the \&quot;course\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call putCourseAsync(String id, EdFiCourse course, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = putCourseCall(id, course, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
