/**
 * Ed-Fi Operational Data Store API
 * The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. The Ed-Fi ODS / API supports both transactional and bulk modes of operation.  ***  > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.*  *** 
 *
 * OpenAPI spec version: 3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package org.edfi.api.resource;

import org.edfi.api.ApiCallback;
import org.edfi.api.ApiClient;
import org.edfi.api.ApiException;
import org.edfi.api.ApiResponse;
import org.edfi.api.Configuration;
import org.edfi.api.Pair;
import org.edfi.api.ProgressRequestBody;
import org.edfi.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import org.edfi.model.resource.EdFiCourseTranscript;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CourseTranscriptsApi {
    private ApiClient apiClient;

    public CourseTranscriptsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CourseTranscriptsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for deleteCourseTranscriptById */
    private com.squareup.okhttp.Call deleteCourseTranscriptByIdCall(String id, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteCourseTranscriptById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/courseTranscripts/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteCourseTranscriptById(String id, String ifMatch) throws ApiException {
        deleteCourseTranscriptByIdWithHttpInfo(id, ifMatch);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteCourseTranscriptByIdWithHttpInfo(String id, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = deleteCourseTranscriptByIdCall(id, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes an existing resource using the resource identifier. (asynchronously)
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteCourseTranscriptByIdAsync(String id, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCourseTranscriptByIdCall(id, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getCourseTranscripts */
    private com.squareup.okhttp.Call getCourseTranscriptsCall(Integer offset, Integer limit, Boolean totalCount, String courseAttemptResultDescriptor, String courseCode, Integer courseEducationOrganizationId, Integer educationOrganizationId, Integer schoolYear, String studentUniqueId, String termDescriptor, Integer externalEducationOrganizationId, String courseRepeatCodeDescriptor, String attemptedCreditTypeDescriptor, String earnedCreditTypeDescriptor, String whenTakenGradeLevelDescriptor, String methodCreditEarnedDescriptor, String alternativeCourseCode, String alternativeCourseTitle, Double attemptedCreditConversion, Double attemptedCredits, String courseTitle, Double earnedCreditConversion, Double earnedCredits, String finalLetterGradeEarned, Double finalNumericGradeEarned, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/ed-fi/courseTranscripts".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (totalCount != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "totalCount", totalCount));
        if (courseAttemptResultDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseAttemptResultDescriptor", courseAttemptResultDescriptor));
        if (courseCode != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseCode", courseCode));
        if (courseEducationOrganizationId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseEducationOrganizationId", courseEducationOrganizationId));
        if (educationOrganizationId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "educationOrganizationId", educationOrganizationId));
        if (schoolYear != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "schoolYear", schoolYear));
        if (studentUniqueId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "studentUniqueId", studentUniqueId));
        if (termDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "termDescriptor", termDescriptor));
        if (externalEducationOrganizationId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "externalEducationOrganizationId", externalEducationOrganizationId));
        if (courseRepeatCodeDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseRepeatCodeDescriptor", courseRepeatCodeDescriptor));
        if (attemptedCreditTypeDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "attemptedCreditTypeDescriptor", attemptedCreditTypeDescriptor));
        if (earnedCreditTypeDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "earnedCreditTypeDescriptor", earnedCreditTypeDescriptor));
        if (whenTakenGradeLevelDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "whenTakenGradeLevelDescriptor", whenTakenGradeLevelDescriptor));
        if (methodCreditEarnedDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "methodCreditEarnedDescriptor", methodCreditEarnedDescriptor));
        if (alternativeCourseCode != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "alternativeCourseCode", alternativeCourseCode));
        if (alternativeCourseTitle != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "alternativeCourseTitle", alternativeCourseTitle));
        if (attemptedCreditConversion != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "attemptedCreditConversion", attemptedCreditConversion));
        if (attemptedCredits != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "attemptedCredits", attemptedCredits));
        if (courseTitle != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "courseTitle", courseTitle));
        if (earnedCreditConversion != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "earnedCreditConversion", earnedCreditConversion));
        if (earnedCredits != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "earnedCredits", earnedCredits));
        if (finalLetterGradeEarned != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "finalLetterGradeEarned", finalLetterGradeEarned));
        if (finalNumericGradeEarned != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "finalNumericGradeEarned", finalNumericGradeEarned));
        if (id != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "id", id));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param courseAttemptResultDescriptor The result from the student&#39;s attempt to take the course, for example:          Pass          Fail          Incomplete          Withdrawn. (optional)
     * @param courseCode A unique alphanumeric code assigned to a course. (optional)
     * @param courseEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param schoolYear The identifier for the school year. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param termDescriptor The term for the session during the school year. (optional)
     * @param externalEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param courseRepeatCodeDescriptor Indicates that an academic course has been repeated by a student and how that repeat is to be computed in the student&#39;s academic grade average. (optional)
     * @param attemptedCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param earnedCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param whenTakenGradeLevelDescriptor Student&#39;s grade level at time of course. (optional)
     * @param methodCreditEarnedDescriptor The method the credits were earned (e.g., Classroom, Examination, Transfer). (optional)
     * @param alternativeCourseCode The local code assigned by the school that identifies the course offering, the code from an external educational organization, or other alternate course code. (optional)
     * @param alternativeCourseTitle The descriptive name given to a course of study offered in the school, if different from the CourseTitle. (optional)
     * @param attemptedCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param attemptedCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param courseTitle The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, language arts). (optional)
     * @param earnedCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param earnedCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param finalLetterGradeEarned The final indicator of student performance in a class as submitted by the instructor. (optional)
     * @param finalNumericGradeEarned The final indicator of student performance in a class as submitted by the instructor. (optional)
     * @param id  (optional)
     * @return List&lt;EdFiCourseTranscript&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<EdFiCourseTranscript> getCourseTranscripts(Integer offset, Integer limit, Boolean totalCount, String courseAttemptResultDescriptor, String courseCode, Integer courseEducationOrganizationId, Integer educationOrganizationId, Integer schoolYear, String studentUniqueId, String termDescriptor, Integer externalEducationOrganizationId, String courseRepeatCodeDescriptor, String attemptedCreditTypeDescriptor, String earnedCreditTypeDescriptor, String whenTakenGradeLevelDescriptor, String methodCreditEarnedDescriptor, String alternativeCourseCode, String alternativeCourseTitle, Double attemptedCreditConversion, Double attemptedCredits, String courseTitle, Double earnedCreditConversion, Double earnedCredits, String finalLetterGradeEarned, Double finalNumericGradeEarned, String id) throws ApiException {
        ApiResponse<List<EdFiCourseTranscript>> resp = getCourseTranscriptsWithHttpInfo(offset, limit, totalCount, courseAttemptResultDescriptor, courseCode, courseEducationOrganizationId, educationOrganizationId, schoolYear, studentUniqueId, termDescriptor, externalEducationOrganizationId, courseRepeatCodeDescriptor, attemptedCreditTypeDescriptor, earnedCreditTypeDescriptor, whenTakenGradeLevelDescriptor, methodCreditEarnedDescriptor, alternativeCourseCode, alternativeCourseTitle, attemptedCreditConversion, attemptedCredits, courseTitle, earnedCreditConversion, earnedCredits, finalLetterGradeEarned, finalNumericGradeEarned, id);
        return resp.getData();
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param courseAttemptResultDescriptor The result from the student&#39;s attempt to take the course, for example:          Pass          Fail          Incomplete          Withdrawn. (optional)
     * @param courseCode A unique alphanumeric code assigned to a course. (optional)
     * @param courseEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param schoolYear The identifier for the school year. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param termDescriptor The term for the session during the school year. (optional)
     * @param externalEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param courseRepeatCodeDescriptor Indicates that an academic course has been repeated by a student and how that repeat is to be computed in the student&#39;s academic grade average. (optional)
     * @param attemptedCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param earnedCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param whenTakenGradeLevelDescriptor Student&#39;s grade level at time of course. (optional)
     * @param methodCreditEarnedDescriptor The method the credits were earned (e.g., Classroom, Examination, Transfer). (optional)
     * @param alternativeCourseCode The local code assigned by the school that identifies the course offering, the code from an external educational organization, or other alternate course code. (optional)
     * @param alternativeCourseTitle The descriptive name given to a course of study offered in the school, if different from the CourseTitle. (optional)
     * @param attemptedCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param attemptedCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param courseTitle The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, language arts). (optional)
     * @param earnedCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param earnedCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param finalLetterGradeEarned The final indicator of student performance in a class as submitted by the instructor. (optional)
     * @param finalNumericGradeEarned The final indicator of student performance in a class as submitted by the instructor. (optional)
     * @param id  (optional)
     * @return ApiResponse&lt;List&lt;EdFiCourseTranscript&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<EdFiCourseTranscript>> getCourseTranscriptsWithHttpInfo(Integer offset, Integer limit, Boolean totalCount, String courseAttemptResultDescriptor, String courseCode, Integer courseEducationOrganizationId, Integer educationOrganizationId, Integer schoolYear, String studentUniqueId, String termDescriptor, Integer externalEducationOrganizationId, String courseRepeatCodeDescriptor, String attemptedCreditTypeDescriptor, String earnedCreditTypeDescriptor, String whenTakenGradeLevelDescriptor, String methodCreditEarnedDescriptor, String alternativeCourseCode, String alternativeCourseTitle, Double attemptedCreditConversion, Double attemptedCredits, String courseTitle, Double earnedCreditConversion, Double earnedCredits, String finalLetterGradeEarned, Double finalNumericGradeEarned, String id) throws ApiException {
        com.squareup.okhttp.Call call = getCourseTranscriptsCall(offset, limit, totalCount, courseAttemptResultDescriptor, courseCode, courseEducationOrganizationId, educationOrganizationId, schoolYear, studentUniqueId, termDescriptor, externalEducationOrganizationId, courseRepeatCodeDescriptor, attemptedCreditTypeDescriptor, earnedCreditTypeDescriptor, whenTakenGradeLevelDescriptor, methodCreditEarnedDescriptor, alternativeCourseCode, alternativeCourseTitle, attemptedCreditConversion, attemptedCredits, courseTitle, earnedCreditConversion, earnedCredits, finalLetterGradeEarned, finalNumericGradeEarned, id, null, null);
        Type localVarReturnType = new TypeToken<List<EdFiCourseTranscript>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern). (asynchronously)
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param courseAttemptResultDescriptor The result from the student&#39;s attempt to take the course, for example:          Pass          Fail          Incomplete          Withdrawn. (optional)
     * @param courseCode A unique alphanumeric code assigned to a course. (optional)
     * @param courseEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param schoolYear The identifier for the school year. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param termDescriptor The term for the session during the school year. (optional)
     * @param externalEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param courseRepeatCodeDescriptor Indicates that an academic course has been repeated by a student and how that repeat is to be computed in the student&#39;s academic grade average. (optional)
     * @param attemptedCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param earnedCreditTypeDescriptor The type of credits or units of value awarded for the completion of a course. (optional)
     * @param whenTakenGradeLevelDescriptor Student&#39;s grade level at time of course. (optional)
     * @param methodCreditEarnedDescriptor The method the credits were earned (e.g., Classroom, Examination, Transfer). (optional)
     * @param alternativeCourseCode The local code assigned by the school that identifies the course offering, the code from an external educational organization, or other alternate course code. (optional)
     * @param alternativeCourseTitle The descriptive name given to a course of study offered in the school, if different from the CourseTitle. (optional)
     * @param attemptedCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param attemptedCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param courseTitle The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, language arts). (optional)
     * @param earnedCreditConversion Conversion factor that when multiplied by the number of credits is equivalent to Carnegie units. (optional)
     * @param earnedCredits The value of credits or units of value awarded for the completion of a course. (optional)
     * @param finalLetterGradeEarned The final indicator of student performance in a class as submitted by the instructor. (optional)
     * @param finalNumericGradeEarned The final indicator of student performance in a class as submitted by the instructor. (optional)
     * @param id  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCourseTranscriptsAsync(Integer offset, Integer limit, Boolean totalCount, String courseAttemptResultDescriptor, String courseCode, Integer courseEducationOrganizationId, Integer educationOrganizationId, Integer schoolYear, String studentUniqueId, String termDescriptor, Integer externalEducationOrganizationId, String courseRepeatCodeDescriptor, String attemptedCreditTypeDescriptor, String earnedCreditTypeDescriptor, String whenTakenGradeLevelDescriptor, String methodCreditEarnedDescriptor, String alternativeCourseCode, String alternativeCourseTitle, Double attemptedCreditConversion, Double attemptedCredits, String courseTitle, Double earnedCreditConversion, Double earnedCredits, String finalLetterGradeEarned, Double finalNumericGradeEarned, String id, final ApiCallback<List<EdFiCourseTranscript>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCourseTranscriptsCall(offset, limit, totalCount, courseAttemptResultDescriptor, courseCode, courseEducationOrganizationId, educationOrganizationId, schoolYear, studentUniqueId, termDescriptor, externalEducationOrganizationId, courseRepeatCodeDescriptor, attemptedCreditTypeDescriptor, earnedCreditTypeDescriptor, whenTakenGradeLevelDescriptor, methodCreditEarnedDescriptor, alternativeCourseCode, alternativeCourseTitle, attemptedCreditConversion, attemptedCredits, courseTitle, earnedCreditConversion, earnedCredits, finalLetterGradeEarned, finalNumericGradeEarned, id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<EdFiCourseTranscript>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getCourseTranscriptsById */
    private com.squareup.okhttp.Call getCourseTranscriptsByIdCall(String id, String ifNoneMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getCourseTranscriptsById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/courseTranscripts/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifNoneMatch != null)
        localVarHeaderParams.put("If-None-Match", apiClient.parameterToString(ifNoneMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return EdFiCourseTranscript
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EdFiCourseTranscript getCourseTranscriptsById(String id, String ifNoneMatch) throws ApiException {
        ApiResponse<EdFiCourseTranscript> resp = getCourseTranscriptsByIdWithHttpInfo(id, ifNoneMatch);
        return resp.getData();
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return ApiResponse&lt;EdFiCourseTranscript&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EdFiCourseTranscript> getCourseTranscriptsByIdWithHttpInfo(String id, String ifNoneMatch) throws ApiException {
        com.squareup.okhttp.Call call = getCourseTranscriptsByIdCall(id, ifNoneMatch, null, null);
        Type localVarReturnType = new TypeToken<EdFiCourseTranscript>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern). (asynchronously)
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCourseTranscriptsByIdAsync(String id, String ifNoneMatch, final ApiCallback<EdFiCourseTranscript> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCourseTranscriptsByIdCall(id, ifNoneMatch, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EdFiCourseTranscript>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for postCourseTranscript */
    private com.squareup.okhttp.Call postCourseTranscriptCall(EdFiCourseTranscript courseTranscript, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = courseTranscript;
        
        // verify the required parameter 'courseTranscript' is set
        if (courseTranscript == null) {
            throw new ApiException("Missing the required parameter 'courseTranscript' when calling postCourseTranscript(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/courseTranscripts".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param courseTranscript The JSON representation of the \&quot;courseTranscript\&quot; resource to be created or updated. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postCourseTranscript(EdFiCourseTranscript courseTranscript) throws ApiException {
        postCourseTranscriptWithHttpInfo(courseTranscript);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param courseTranscript The JSON representation of the \&quot;courseTranscript\&quot; resource to be created or updated. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postCourseTranscriptWithHttpInfo(EdFiCourseTranscript courseTranscript) throws ApiException {
        com.squareup.okhttp.Call call = postCourseTranscriptCall(courseTranscript, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource. (asynchronously)
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param courseTranscript The JSON representation of the \&quot;courseTranscript\&quot; resource to be created or updated. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postCourseTranscriptAsync(EdFiCourseTranscript courseTranscript, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postCourseTranscriptCall(courseTranscript, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for putCourseTranscript */
    private com.squareup.okhttp.Call putCourseTranscriptCall(String id, EdFiCourseTranscript courseTranscript, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = courseTranscript;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling putCourseTranscript(Async)");
        }
        
        // verify the required parameter 'courseTranscript' is set
        if (courseTranscript == null) {
            throw new ApiException("Missing the required parameter 'courseTranscript' when calling putCourseTranscript(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/courseTranscripts/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param courseTranscript The JSON representation of the \&quot;courseTranscript\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void putCourseTranscript(String id, EdFiCourseTranscript courseTranscript, String ifMatch) throws ApiException {
        putCourseTranscriptWithHttpInfo(id, courseTranscript, ifMatch);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param courseTranscript The JSON representation of the \&quot;courseTranscript\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> putCourseTranscriptWithHttpInfo(String id, EdFiCourseTranscript courseTranscript, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = putCourseTranscriptCall(id, courseTranscript, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates or creates a resource based on the resource identifier. (asynchronously)
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param courseTranscript The JSON representation of the \&quot;courseTranscript\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call putCourseTranscriptAsync(String id, EdFiCourseTranscript courseTranscript, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = putCourseTranscriptCall(id, courseTranscript, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
