/**
 * Ed-Fi Operational Data Store API
 * The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. The Ed-Fi ODS / API supports both transactional and bulk modes of operation.  ***  > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.*  *** 
 *
 * OpenAPI spec version: 3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package org.edfi.api.resource;

import org.edfi.api.ApiCallback;
import org.edfi.api.ApiClient;
import org.edfi.api.ApiException;
import org.edfi.api.ApiResponse;
import org.edfi.api.Configuration;
import org.edfi.api.Pair;
import org.edfi.api.ProgressRequestBody;
import org.edfi.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import org.edfi.model.resource.EdFiDisciplineAction;
import org.joda.time.LocalDate;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DisciplineActionsApi {
    private ApiClient apiClient;

    public DisciplineActionsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DisciplineActionsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for deleteDisciplineActionById */
    private com.squareup.okhttp.Call deleteDisciplineActionByIdCall(String id, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteDisciplineActionById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/disciplineActions/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteDisciplineActionById(String id, String ifMatch) throws ApiException {
        deleteDisciplineActionByIdWithHttpInfo(id, ifMatch);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteDisciplineActionByIdWithHttpInfo(String id, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = deleteDisciplineActionByIdCall(id, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes an existing resource using the resource identifier. (asynchronously)
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDisciplineActionByIdAsync(String id, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDisciplineActionByIdCall(id, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getDisciplineActions */
    private com.squareup.okhttp.Call getDisciplineActionsCall(Integer offset, Integer limit, Boolean totalCount, String disciplineActionIdentifier, LocalDate disciplineDate, String studentUniqueId, Integer responsibilitySchoolId, Integer assignmentSchoolId, String disciplineActionLengthDifferenceReasonDescriptor, Double actualDisciplineActionLength, Double disciplineActionLength, String id, Boolean iepPlacementMeetingIndicator, Boolean receivedEducationServicesDuringExpulsion, Boolean relatedToZeroTolerancePolicy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/ed-fi/disciplineActions".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (totalCount != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "totalCount", totalCount));
        if (disciplineActionIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "disciplineActionIdentifier", disciplineActionIdentifier));
        if (disciplineDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "disciplineDate", disciplineDate));
        if (studentUniqueId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "studentUniqueId", studentUniqueId));
        if (responsibilitySchoolId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "responsibilitySchoolId", responsibilitySchoolId));
        if (assignmentSchoolId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "assignmentSchoolId", assignmentSchoolId));
        if (disciplineActionLengthDifferenceReasonDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "disciplineActionLengthDifferenceReasonDescriptor", disciplineActionLengthDifferenceReasonDescriptor));
        if (actualDisciplineActionLength != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "actualDisciplineActionLength", actualDisciplineActionLength));
        if (disciplineActionLength != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "disciplineActionLength", disciplineActionLength));
        if (id != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "id", id));
        if (iepPlacementMeetingIndicator != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "iepPlacementMeetingIndicator", iepPlacementMeetingIndicator));
        if (receivedEducationServicesDuringExpulsion != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "receivedEducationServicesDuringExpulsion", receivedEducationServicesDuringExpulsion));
        if (relatedToZeroTolerancePolicy != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "relatedToZeroTolerancePolicy", relatedToZeroTolerancePolicy));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param disciplineActionIdentifier Identifier assigned by the education organization to the DisciplineAction. (optional)
     * @param disciplineDate The date of the DisciplineAction. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param responsibilitySchoolId The identifier assigned to a school. (optional)
     * @param assignmentSchoolId The identifier assigned to a school. (optional)
     * @param disciplineActionLengthDifferenceReasonDescriptor Indicates the reason for the difference, if any, between the official and actual lengths of a student&#39;s disciplinary assignment. (optional)
     * @param actualDisciplineActionLength Indicates the actual length in school days of a student&#39;s disciplinary assignment. (optional)
     * @param disciplineActionLength The length of time in school days for the DisciplineAction (e.g. removal, detention), if applicable. (optional)
     * @param id  (optional)
     * @param iepPlacementMeetingIndicator An indication as to whether an offense and/or disciplinary action resulted in a meeting of a student&#39;s Individualized Education Program (IEP) team to determine appropriate placement. (optional)
     * @param receivedEducationServicesDuringExpulsion An indication of whether the student received educational services when removed from the regular school program for disciplinary reasons. (optional)
     * @param relatedToZeroTolerancePolicy An indication of whether or not this disciplinary action taken against a student was imposed as a consequence of state or local zero tolerance policies. (optional)
     * @return List&lt;EdFiDisciplineAction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<EdFiDisciplineAction> getDisciplineActions(Integer offset, Integer limit, Boolean totalCount, String disciplineActionIdentifier, LocalDate disciplineDate, String studentUniqueId, Integer responsibilitySchoolId, Integer assignmentSchoolId, String disciplineActionLengthDifferenceReasonDescriptor, Double actualDisciplineActionLength, Double disciplineActionLength, String id, Boolean iepPlacementMeetingIndicator, Boolean receivedEducationServicesDuringExpulsion, Boolean relatedToZeroTolerancePolicy) throws ApiException {
        ApiResponse<List<EdFiDisciplineAction>> resp = getDisciplineActionsWithHttpInfo(offset, limit, totalCount, disciplineActionIdentifier, disciplineDate, studentUniqueId, responsibilitySchoolId, assignmentSchoolId, disciplineActionLengthDifferenceReasonDescriptor, actualDisciplineActionLength, disciplineActionLength, id, iepPlacementMeetingIndicator, receivedEducationServicesDuringExpulsion, relatedToZeroTolerancePolicy);
        return resp.getData();
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param disciplineActionIdentifier Identifier assigned by the education organization to the DisciplineAction. (optional)
     * @param disciplineDate The date of the DisciplineAction. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param responsibilitySchoolId The identifier assigned to a school. (optional)
     * @param assignmentSchoolId The identifier assigned to a school. (optional)
     * @param disciplineActionLengthDifferenceReasonDescriptor Indicates the reason for the difference, if any, between the official and actual lengths of a student&#39;s disciplinary assignment. (optional)
     * @param actualDisciplineActionLength Indicates the actual length in school days of a student&#39;s disciplinary assignment. (optional)
     * @param disciplineActionLength The length of time in school days for the DisciplineAction (e.g. removal, detention), if applicable. (optional)
     * @param id  (optional)
     * @param iepPlacementMeetingIndicator An indication as to whether an offense and/or disciplinary action resulted in a meeting of a student&#39;s Individualized Education Program (IEP) team to determine appropriate placement. (optional)
     * @param receivedEducationServicesDuringExpulsion An indication of whether the student received educational services when removed from the regular school program for disciplinary reasons. (optional)
     * @param relatedToZeroTolerancePolicy An indication of whether or not this disciplinary action taken against a student was imposed as a consequence of state or local zero tolerance policies. (optional)
     * @return ApiResponse&lt;List&lt;EdFiDisciplineAction&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<EdFiDisciplineAction>> getDisciplineActionsWithHttpInfo(Integer offset, Integer limit, Boolean totalCount, String disciplineActionIdentifier, LocalDate disciplineDate, String studentUniqueId, Integer responsibilitySchoolId, Integer assignmentSchoolId, String disciplineActionLengthDifferenceReasonDescriptor, Double actualDisciplineActionLength, Double disciplineActionLength, String id, Boolean iepPlacementMeetingIndicator, Boolean receivedEducationServicesDuringExpulsion, Boolean relatedToZeroTolerancePolicy) throws ApiException {
        com.squareup.okhttp.Call call = getDisciplineActionsCall(offset, limit, totalCount, disciplineActionIdentifier, disciplineDate, studentUniqueId, responsibilitySchoolId, assignmentSchoolId, disciplineActionLengthDifferenceReasonDescriptor, actualDisciplineActionLength, disciplineActionLength, id, iepPlacementMeetingIndicator, receivedEducationServicesDuringExpulsion, relatedToZeroTolerancePolicy, null, null);
        Type localVarReturnType = new TypeToken<List<EdFiDisciplineAction>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern). (asynchronously)
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param disciplineActionIdentifier Identifier assigned by the education organization to the DisciplineAction. (optional)
     * @param disciplineDate The date of the DisciplineAction. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param responsibilitySchoolId The identifier assigned to a school. (optional)
     * @param assignmentSchoolId The identifier assigned to a school. (optional)
     * @param disciplineActionLengthDifferenceReasonDescriptor Indicates the reason for the difference, if any, between the official and actual lengths of a student&#39;s disciplinary assignment. (optional)
     * @param actualDisciplineActionLength Indicates the actual length in school days of a student&#39;s disciplinary assignment. (optional)
     * @param disciplineActionLength The length of time in school days for the DisciplineAction (e.g. removal, detention), if applicable. (optional)
     * @param id  (optional)
     * @param iepPlacementMeetingIndicator An indication as to whether an offense and/or disciplinary action resulted in a meeting of a student&#39;s Individualized Education Program (IEP) team to determine appropriate placement. (optional)
     * @param receivedEducationServicesDuringExpulsion An indication of whether the student received educational services when removed from the regular school program for disciplinary reasons. (optional)
     * @param relatedToZeroTolerancePolicy An indication of whether or not this disciplinary action taken against a student was imposed as a consequence of state or local zero tolerance policies. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDisciplineActionsAsync(Integer offset, Integer limit, Boolean totalCount, String disciplineActionIdentifier, LocalDate disciplineDate, String studentUniqueId, Integer responsibilitySchoolId, Integer assignmentSchoolId, String disciplineActionLengthDifferenceReasonDescriptor, Double actualDisciplineActionLength, Double disciplineActionLength, String id, Boolean iepPlacementMeetingIndicator, Boolean receivedEducationServicesDuringExpulsion, Boolean relatedToZeroTolerancePolicy, final ApiCallback<List<EdFiDisciplineAction>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDisciplineActionsCall(offset, limit, totalCount, disciplineActionIdentifier, disciplineDate, studentUniqueId, responsibilitySchoolId, assignmentSchoolId, disciplineActionLengthDifferenceReasonDescriptor, actualDisciplineActionLength, disciplineActionLength, id, iepPlacementMeetingIndicator, receivedEducationServicesDuringExpulsion, relatedToZeroTolerancePolicy, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<EdFiDisciplineAction>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getDisciplineActionsById */
    private com.squareup.okhttp.Call getDisciplineActionsByIdCall(String id, String ifNoneMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getDisciplineActionsById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/disciplineActions/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifNoneMatch != null)
        localVarHeaderParams.put("If-None-Match", apiClient.parameterToString(ifNoneMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return EdFiDisciplineAction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EdFiDisciplineAction getDisciplineActionsById(String id, String ifNoneMatch) throws ApiException {
        ApiResponse<EdFiDisciplineAction> resp = getDisciplineActionsByIdWithHttpInfo(id, ifNoneMatch);
        return resp.getData();
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return ApiResponse&lt;EdFiDisciplineAction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EdFiDisciplineAction> getDisciplineActionsByIdWithHttpInfo(String id, String ifNoneMatch) throws ApiException {
        com.squareup.okhttp.Call call = getDisciplineActionsByIdCall(id, ifNoneMatch, null, null);
        Type localVarReturnType = new TypeToken<EdFiDisciplineAction>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern). (asynchronously)
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDisciplineActionsByIdAsync(String id, String ifNoneMatch, final ApiCallback<EdFiDisciplineAction> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDisciplineActionsByIdCall(id, ifNoneMatch, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EdFiDisciplineAction>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for postDisciplineAction */
    private com.squareup.okhttp.Call postDisciplineActionCall(EdFiDisciplineAction disciplineAction, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = disciplineAction;
        
        // verify the required parameter 'disciplineAction' is set
        if (disciplineAction == null) {
            throw new ApiException("Missing the required parameter 'disciplineAction' when calling postDisciplineAction(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/disciplineActions".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param disciplineAction The JSON representation of the \&quot;disciplineAction\&quot; resource to be created or updated. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postDisciplineAction(EdFiDisciplineAction disciplineAction) throws ApiException {
        postDisciplineActionWithHttpInfo(disciplineAction);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param disciplineAction The JSON representation of the \&quot;disciplineAction\&quot; resource to be created or updated. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postDisciplineActionWithHttpInfo(EdFiDisciplineAction disciplineAction) throws ApiException {
        com.squareup.okhttp.Call call = postDisciplineActionCall(disciplineAction, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource. (asynchronously)
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param disciplineAction The JSON representation of the \&quot;disciplineAction\&quot; resource to be created or updated. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postDisciplineActionAsync(EdFiDisciplineAction disciplineAction, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postDisciplineActionCall(disciplineAction, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for putDisciplineAction */
    private com.squareup.okhttp.Call putDisciplineActionCall(String id, EdFiDisciplineAction disciplineAction, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = disciplineAction;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling putDisciplineAction(Async)");
        }
        
        // verify the required parameter 'disciplineAction' is set
        if (disciplineAction == null) {
            throw new ApiException("Missing the required parameter 'disciplineAction' when calling putDisciplineAction(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/disciplineActions/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param disciplineAction The JSON representation of the \&quot;disciplineAction\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void putDisciplineAction(String id, EdFiDisciplineAction disciplineAction, String ifMatch) throws ApiException {
        putDisciplineActionWithHttpInfo(id, disciplineAction, ifMatch);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param disciplineAction The JSON representation of the \&quot;disciplineAction\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> putDisciplineActionWithHttpInfo(String id, EdFiDisciplineAction disciplineAction, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = putDisciplineActionCall(id, disciplineAction, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates or creates a resource based on the resource identifier. (asynchronously)
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param disciplineAction The JSON representation of the \&quot;disciplineAction\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call putDisciplineActionAsync(String id, EdFiDisciplineAction disciplineAction, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = putDisciplineActionCall(id, disciplineAction, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
