/**
 * Ed-Fi Operational Data Store API
 * The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. The Ed-Fi ODS / API supports both transactional and bulk modes of operation.  ***  > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.*  *** 
 *
 * OpenAPI spec version: 3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package org.edfi.api.resource;

import org.edfi.api.ApiCallback;
import org.edfi.api.ApiClient;
import org.edfi.api.ApiException;
import org.edfi.api.ApiResponse;
import org.edfi.api.Configuration;
import org.edfi.api.Pair;
import org.edfi.api.ProgressRequestBody;
import org.edfi.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import org.edfi.model.resource.TpdmProspect;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProspectsApi {
    private ApiClient apiClient;

    public ProspectsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProspectsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for deleteProspectById */
    private com.squareup.okhttp.Call deleteProspectByIdCall(String id, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteProspectById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/tpdm/prospects/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteProspectById(String id, String ifMatch) throws ApiException {
        deleteProspectByIdWithHttpInfo(id, ifMatch);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteProspectByIdWithHttpInfo(String id, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = deleteProspectByIdCall(id, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes an existing resource using the resource identifier. (asynchronously)
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteProspectByIdAsync(String id, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteProspectByIdCall(id, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getProspects */
    private com.squareup.okhttp.Call getProspectsCall(Integer offset, Integer limit, Boolean totalCount, String prospectIdentifier, Integer educationOrganizationId, String teacherCandidateIdentifier, String genderDescriptor, String prospectTypeDescriptor, String sexDescriptor, Boolean applied, Boolean economicDisadvantaged, String electronicMailAddress, Boolean firstGenerationStudent, String firstName, String generationCodeSuffix, Boolean hispanicLatinoEthnicity, String id, String lastSurname, String maidenName, Boolean met, String middleName, String notes, String personalTitlePrefix, Integer preScreeningRating, Boolean referral, String referredBy, String socialMediaNetworkName, String socialMediaUserName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/tpdm/prospects".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (totalCount != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "totalCount", totalCount));
        if (prospectIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "prospectIdentifier", prospectIdentifier));
        if (educationOrganizationId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "educationOrganizationId", educationOrganizationId));
        if (teacherCandidateIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "teacherCandidateIdentifier", teacherCandidateIdentifier));
        if (genderDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "genderDescriptor", genderDescriptor));
        if (prospectTypeDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "prospectTypeDescriptor", prospectTypeDescriptor));
        if (sexDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sexDescriptor", sexDescriptor));
        if (applied != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "applied", applied));
        if (economicDisadvantaged != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "economicDisadvantaged", economicDisadvantaged));
        if (electronicMailAddress != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "electronicMailAddress", electronicMailAddress));
        if (firstGenerationStudent != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "firstGenerationStudent", firstGenerationStudent));
        if (firstName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "firstName", firstName));
        if (generationCodeSuffix != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "generationCodeSuffix", generationCodeSuffix));
        if (hispanicLatinoEthnicity != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "hispanicLatinoEthnicity", hispanicLatinoEthnicity));
        if (id != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "id", id));
        if (lastSurname != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "lastSurname", lastSurname));
        if (maidenName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maidenName", maidenName));
        if (met != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "met", met));
        if (middleName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "middleName", middleName));
        if (notes != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "notes", notes));
        if (personalTitlePrefix != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "personalTitlePrefix", personalTitlePrefix));
        if (preScreeningRating != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "preScreeningRating", preScreeningRating));
        if (referral != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "referral", referral));
        if (referredBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "referredBy", referredBy));
        if (socialMediaNetworkName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "socialMediaNetworkName", socialMediaNetworkName));
        if (socialMediaUserName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "socialMediaUserName", socialMediaUserName));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param prospectIdentifier The identifier for the prospect. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param teacherCandidateIdentifier A unique alphanumeric code assigned to a teacher candidate. (optional)
     * @param genderDescriptor The gender with which a person associates. (optional)
     * @param prospectTypeDescriptor Reflects the type of prospect, such as TPP Applicant, Hire, or Mentor Teacher. (optional)
     * @param sexDescriptor A person&#39;s gender. (optional)
     * @param applied Indicator of whether the prospect applied for a position. (optional)
     * @param economicDisadvantaged An indication of inadequate financial condition of an individual&#39;s family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy. (optional)
     * @param electronicMailAddress The numbers, letters, and symbols used to identify an electronic mail (e-mail) user within the network to which the individual or organization belongs. (optional)
     * @param firstGenerationStudent Indicator of whether individual is a first generation college student. (optional)
     * @param firstName A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change. (optional)
     * @param generationCodeSuffix An appendage, if any, used to denote an individual&#39;s generation in his family (e.g., Jr., Sr., III). (optional)
     * @param hispanicLatinoEthnicity An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, \&quot;Spanish origin,\&quot; can be used in addition to \&quot;Hispanic or Latino\&quot;. (optional)
     * @param id  (optional)
     * @param lastSurname The name borne in common by members of a family. (optional)
     * @param maidenName The person&#39;s maiden name. (optional)
     * @param met Indicator whether the person was met by a representative of the education organization. (optional)
     * @param middleName A secondary name given to an individual at birth, baptism, or during another naming ceremony. (optional)
     * @param notes Additional notes about the prospect. (optional)
     * @param personalTitlePrefix A prefix used to denote the title, degree, position, or seniority of the person. (optional)
     * @param preScreeningRating The rating initially assigned to the prospect prior to an official screening. (optional)
     * @param referral Indicator of whether the prospect was a referral. (optional)
     * @param referredBy The person making the referral. (optional)
     * @param socialMediaNetworkName The social media network name (e.g., LinkedIn, Twitter, etc.) associated with the SocialMediaUserName. (optional)
     * @param socialMediaUserName The user name of the person on social media. (optional)
     * @return List&lt;TpdmProspect&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<TpdmProspect> getProspects(Integer offset, Integer limit, Boolean totalCount, String prospectIdentifier, Integer educationOrganizationId, String teacherCandidateIdentifier, String genderDescriptor, String prospectTypeDescriptor, String sexDescriptor, Boolean applied, Boolean economicDisadvantaged, String electronicMailAddress, Boolean firstGenerationStudent, String firstName, String generationCodeSuffix, Boolean hispanicLatinoEthnicity, String id, String lastSurname, String maidenName, Boolean met, String middleName, String notes, String personalTitlePrefix, Integer preScreeningRating, Boolean referral, String referredBy, String socialMediaNetworkName, String socialMediaUserName) throws ApiException {
        ApiResponse<List<TpdmProspect>> resp = getProspectsWithHttpInfo(offset, limit, totalCount, prospectIdentifier, educationOrganizationId, teacherCandidateIdentifier, genderDescriptor, prospectTypeDescriptor, sexDescriptor, applied, economicDisadvantaged, electronicMailAddress, firstGenerationStudent, firstName, generationCodeSuffix, hispanicLatinoEthnicity, id, lastSurname, maidenName, met, middleName, notes, personalTitlePrefix, preScreeningRating, referral, referredBy, socialMediaNetworkName, socialMediaUserName);
        return resp.getData();
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param prospectIdentifier The identifier for the prospect. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param teacherCandidateIdentifier A unique alphanumeric code assigned to a teacher candidate. (optional)
     * @param genderDescriptor The gender with which a person associates. (optional)
     * @param prospectTypeDescriptor Reflects the type of prospect, such as TPP Applicant, Hire, or Mentor Teacher. (optional)
     * @param sexDescriptor A person&#39;s gender. (optional)
     * @param applied Indicator of whether the prospect applied for a position. (optional)
     * @param economicDisadvantaged An indication of inadequate financial condition of an individual&#39;s family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy. (optional)
     * @param electronicMailAddress The numbers, letters, and symbols used to identify an electronic mail (e-mail) user within the network to which the individual or organization belongs. (optional)
     * @param firstGenerationStudent Indicator of whether individual is a first generation college student. (optional)
     * @param firstName A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change. (optional)
     * @param generationCodeSuffix An appendage, if any, used to denote an individual&#39;s generation in his family (e.g., Jr., Sr., III). (optional)
     * @param hispanicLatinoEthnicity An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, \&quot;Spanish origin,\&quot; can be used in addition to \&quot;Hispanic or Latino\&quot;. (optional)
     * @param id  (optional)
     * @param lastSurname The name borne in common by members of a family. (optional)
     * @param maidenName The person&#39;s maiden name. (optional)
     * @param met Indicator whether the person was met by a representative of the education organization. (optional)
     * @param middleName A secondary name given to an individual at birth, baptism, or during another naming ceremony. (optional)
     * @param notes Additional notes about the prospect. (optional)
     * @param personalTitlePrefix A prefix used to denote the title, degree, position, or seniority of the person. (optional)
     * @param preScreeningRating The rating initially assigned to the prospect prior to an official screening. (optional)
     * @param referral Indicator of whether the prospect was a referral. (optional)
     * @param referredBy The person making the referral. (optional)
     * @param socialMediaNetworkName The social media network name (e.g., LinkedIn, Twitter, etc.) associated with the SocialMediaUserName. (optional)
     * @param socialMediaUserName The user name of the person on social media. (optional)
     * @return ApiResponse&lt;List&lt;TpdmProspect&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<TpdmProspect>> getProspectsWithHttpInfo(Integer offset, Integer limit, Boolean totalCount, String prospectIdentifier, Integer educationOrganizationId, String teacherCandidateIdentifier, String genderDescriptor, String prospectTypeDescriptor, String sexDescriptor, Boolean applied, Boolean economicDisadvantaged, String electronicMailAddress, Boolean firstGenerationStudent, String firstName, String generationCodeSuffix, Boolean hispanicLatinoEthnicity, String id, String lastSurname, String maidenName, Boolean met, String middleName, String notes, String personalTitlePrefix, Integer preScreeningRating, Boolean referral, String referredBy, String socialMediaNetworkName, String socialMediaUserName) throws ApiException {
        com.squareup.okhttp.Call call = getProspectsCall(offset, limit, totalCount, prospectIdentifier, educationOrganizationId, teacherCandidateIdentifier, genderDescriptor, prospectTypeDescriptor, sexDescriptor, applied, economicDisadvantaged, electronicMailAddress, firstGenerationStudent, firstName, generationCodeSuffix, hispanicLatinoEthnicity, id, lastSurname, maidenName, met, middleName, notes, personalTitlePrefix, preScreeningRating, referral, referredBy, socialMediaNetworkName, socialMediaUserName, null, null);
        Type localVarReturnType = new TypeToken<List<TpdmProspect>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern). (asynchronously)
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param prospectIdentifier The identifier for the prospect. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param teacherCandidateIdentifier A unique alphanumeric code assigned to a teacher candidate. (optional)
     * @param genderDescriptor The gender with which a person associates. (optional)
     * @param prospectTypeDescriptor Reflects the type of prospect, such as TPP Applicant, Hire, or Mentor Teacher. (optional)
     * @param sexDescriptor A person&#39;s gender. (optional)
     * @param applied Indicator of whether the prospect applied for a position. (optional)
     * @param economicDisadvantaged An indication of inadequate financial condition of an individual&#39;s family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy. (optional)
     * @param electronicMailAddress The numbers, letters, and symbols used to identify an electronic mail (e-mail) user within the network to which the individual or organization belongs. (optional)
     * @param firstGenerationStudent Indicator of whether individual is a first generation college student. (optional)
     * @param firstName A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change. (optional)
     * @param generationCodeSuffix An appendage, if any, used to denote an individual&#39;s generation in his family (e.g., Jr., Sr., III). (optional)
     * @param hispanicLatinoEthnicity An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, \&quot;Spanish origin,\&quot; can be used in addition to \&quot;Hispanic or Latino\&quot;. (optional)
     * @param id  (optional)
     * @param lastSurname The name borne in common by members of a family. (optional)
     * @param maidenName The person&#39;s maiden name. (optional)
     * @param met Indicator whether the person was met by a representative of the education organization. (optional)
     * @param middleName A secondary name given to an individual at birth, baptism, or during another naming ceremony. (optional)
     * @param notes Additional notes about the prospect. (optional)
     * @param personalTitlePrefix A prefix used to denote the title, degree, position, or seniority of the person. (optional)
     * @param preScreeningRating The rating initially assigned to the prospect prior to an official screening. (optional)
     * @param referral Indicator of whether the prospect was a referral. (optional)
     * @param referredBy The person making the referral. (optional)
     * @param socialMediaNetworkName The social media network name (e.g., LinkedIn, Twitter, etc.) associated with the SocialMediaUserName. (optional)
     * @param socialMediaUserName The user name of the person on social media. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getProspectsAsync(Integer offset, Integer limit, Boolean totalCount, String prospectIdentifier, Integer educationOrganizationId, String teacherCandidateIdentifier, String genderDescriptor, String prospectTypeDescriptor, String sexDescriptor, Boolean applied, Boolean economicDisadvantaged, String electronicMailAddress, Boolean firstGenerationStudent, String firstName, String generationCodeSuffix, Boolean hispanicLatinoEthnicity, String id, String lastSurname, String maidenName, Boolean met, String middleName, String notes, String personalTitlePrefix, Integer preScreeningRating, Boolean referral, String referredBy, String socialMediaNetworkName, String socialMediaUserName, final ApiCallback<List<TpdmProspect>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getProspectsCall(offset, limit, totalCount, prospectIdentifier, educationOrganizationId, teacherCandidateIdentifier, genderDescriptor, prospectTypeDescriptor, sexDescriptor, applied, economicDisadvantaged, electronicMailAddress, firstGenerationStudent, firstName, generationCodeSuffix, hispanicLatinoEthnicity, id, lastSurname, maidenName, met, middleName, notes, personalTitlePrefix, preScreeningRating, referral, referredBy, socialMediaNetworkName, socialMediaUserName, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<TpdmProspect>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getProspectsById */
    private com.squareup.okhttp.Call getProspectsByIdCall(String id, String ifNoneMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getProspectsById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/tpdm/prospects/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifNoneMatch != null)
        localVarHeaderParams.put("If-None-Match", apiClient.parameterToString(ifNoneMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return TpdmProspect
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TpdmProspect getProspectsById(String id, String ifNoneMatch) throws ApiException {
        ApiResponse<TpdmProspect> resp = getProspectsByIdWithHttpInfo(id, ifNoneMatch);
        return resp.getData();
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return ApiResponse&lt;TpdmProspect&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TpdmProspect> getProspectsByIdWithHttpInfo(String id, String ifNoneMatch) throws ApiException {
        com.squareup.okhttp.Call call = getProspectsByIdCall(id, ifNoneMatch, null, null);
        Type localVarReturnType = new TypeToken<TpdmProspect>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern). (asynchronously)
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getProspectsByIdAsync(String id, String ifNoneMatch, final ApiCallback<TpdmProspect> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getProspectsByIdCall(id, ifNoneMatch, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TpdmProspect>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for postProspect */
    private com.squareup.okhttp.Call postProspectCall(TpdmProspect prospect, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = prospect;
        
        // verify the required parameter 'prospect' is set
        if (prospect == null) {
            throw new ApiException("Missing the required parameter 'prospect' when calling postProspect(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/tpdm/prospects".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param prospect The JSON representation of the \&quot;prospect\&quot; resource to be created or updated. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postProspect(TpdmProspect prospect) throws ApiException {
        postProspectWithHttpInfo(prospect);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param prospect The JSON representation of the \&quot;prospect\&quot; resource to be created or updated. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postProspectWithHttpInfo(TpdmProspect prospect) throws ApiException {
        com.squareup.okhttp.Call call = postProspectCall(prospect, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource. (asynchronously)
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param prospect The JSON representation of the \&quot;prospect\&quot; resource to be created or updated. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postProspectAsync(TpdmProspect prospect, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postProspectCall(prospect, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for putProspect */
    private com.squareup.okhttp.Call putProspectCall(String id, TpdmProspect prospect, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = prospect;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling putProspect(Async)");
        }
        
        // verify the required parameter 'prospect' is set
        if (prospect == null) {
            throw new ApiException("Missing the required parameter 'prospect' when calling putProspect(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/tpdm/prospects/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param prospect The JSON representation of the \&quot;prospect\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void putProspect(String id, TpdmProspect prospect, String ifMatch) throws ApiException {
        putProspectWithHttpInfo(id, prospect, ifMatch);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param prospect The JSON representation of the \&quot;prospect\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> putProspectWithHttpInfo(String id, TpdmProspect prospect, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = putProspectCall(id, prospect, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates or creates a resource based on the resource identifier. (asynchronously)
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param prospect The JSON representation of the \&quot;prospect\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call putProspectAsync(String id, TpdmProspect prospect, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = putProspectCall(id, prospect, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
