/**
 * Ed-Fi Operational Data Store API
 * The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. The Ed-Fi ODS / API supports both transactional and bulk modes of operation.  ***  > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.*  *** 
 *
 * OpenAPI spec version: 3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package org.edfi.api.resource;

import org.edfi.api.ApiCallback;
import org.edfi.api.ApiClient;
import org.edfi.api.ApiException;
import org.edfi.api.ApiResponse;
import org.edfi.api.Configuration;
import org.edfi.api.Pair;
import org.edfi.api.ProgressRequestBody;
import org.edfi.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import org.edfi.model.resource.EdFiStudentSpecialEducationProgramAssociation;
import org.joda.time.LocalDate;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class StudentSpecialEducationProgramAssociationsApi {
    private ApiClient apiClient;

    public StudentSpecialEducationProgramAssociationsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public StudentSpecialEducationProgramAssociationsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for deleteStudentSpecialEducationProgramAssociationById */
    private com.squareup.okhttp.Call deleteStudentSpecialEducationProgramAssociationByIdCall(String id, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteStudentSpecialEducationProgramAssociationById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/studentSpecialEducationProgramAssociations/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteStudentSpecialEducationProgramAssociationById(String id, String ifMatch) throws ApiException {
        deleteStudentSpecialEducationProgramAssociationByIdWithHttpInfo(id, ifMatch);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteStudentSpecialEducationProgramAssociationByIdWithHttpInfo(String id, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = deleteStudentSpecialEducationProgramAssociationByIdCall(id, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes an existing resource using the resource identifier. (asynchronously)
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteStudentSpecialEducationProgramAssociationByIdAsync(String id, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteStudentSpecialEducationProgramAssociationByIdCall(id, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getStudentSpecialEducationProgramAssociations */
    private com.squareup.okhttp.Call getStudentSpecialEducationProgramAssociationsCall(Integer offset, Integer limit, Boolean totalCount, LocalDate beginDate, Integer educationOrganizationId, Integer programEducationOrganizationId, String programName, String programTypeDescriptor, String studentUniqueId, String specialEducationSettingDescriptor, Boolean ideaEligibility, LocalDate iepBeginDate, LocalDate iepEndDate, LocalDate iepReviewDate, LocalDate lastEvaluationDate, Boolean medicallyFragile, Boolean multiplyDisabled, Double schoolHoursPerWeek, Double specialEducationHoursPerWeek, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/ed-fi/studentSpecialEducationProgramAssociations".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (totalCount != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "totalCount", totalCount));
        if (beginDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "beginDate", beginDate));
        if (educationOrganizationId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "educationOrganizationId", educationOrganizationId));
        if (programEducationOrganizationId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "programEducationOrganizationId", programEducationOrganizationId));
        if (programName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "programName", programName));
        if (programTypeDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "programTypeDescriptor", programTypeDescriptor));
        if (studentUniqueId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "studentUniqueId", studentUniqueId));
        if (specialEducationSettingDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "specialEducationSettingDescriptor", specialEducationSettingDescriptor));
        if (ideaEligibility != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "ideaEligibility", ideaEligibility));
        if (iepBeginDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "iepBeginDate", iepBeginDate));
        if (iepEndDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "iepEndDate", iepEndDate));
        if (iepReviewDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "iepReviewDate", iepReviewDate));
        if (lastEvaluationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "lastEvaluationDate", lastEvaluationDate));
        if (medicallyFragile != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "medicallyFragile", medicallyFragile));
        if (multiplyDisabled != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "multiplyDisabled", multiplyDisabled));
        if (schoolHoursPerWeek != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "schoolHoursPerWeek", schoolHoursPerWeek));
        if (specialEducationHoursPerWeek != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "specialEducationHoursPerWeek", specialEducationHoursPerWeek));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param beginDate The month, day, and year on which the Student first received services. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param programEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param programName The formal name of the Program of instruction, training, services, or benefits available through federal, state, or local agencies. (optional)
     * @param programTypeDescriptor The type of program. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param specialEducationSettingDescriptor The major instructional setting (more than 50 percent of a student&#39;s special education program). (optional)
     * @param ideaEligibility Indicator of the eligibility of the student to receive special education services according to the Individuals with Disabilities Education Act (IDEA). (optional)
     * @param iepBeginDate The effective date of the most recent IEP. (optional)
     * @param iepEndDate The end date of the most recent IEP. (optional)
     * @param iepReviewDate The date of the last IEP review. (optional)
     * @param lastEvaluationDate The date of the last special education evaluation. (optional)
     * @param medicallyFragile Indicates whether the Student receiving special education and related services is:          1) in the age range of birth to 22 years, and          2) has a serious, ongoing illness or a chronic condition that has lasted or is anticipated to last at least 12 or more months or has required at least one month of hospitalization, and that requires daily, ongoing medical treatments and monitoring by appropriately trained personnel which may include parents or other family members, and          3) requires the routine use of medical device or of assistive technology to compensate for the loss of usefulness of a body function needed to participate in activities of daily living, and          4) lives with ongoing threat to his or her continued well-being.          Aligns with federal requirements. (optional)
     * @param multiplyDisabled Indicates whether the Student receiving special education and related services has been designated as multiply disabled by the admission, review, and dismissal committee as aligned with federal requirements. (optional)
     * @param schoolHoursPerWeek Indicate the total number of hours of instructional time per week for the school that the student attends. (optional)
     * @param specialEducationHoursPerWeek The number of hours per week for special education instruction and therapy. (optional)
     * @return List&lt;EdFiStudentSpecialEducationProgramAssociation&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<EdFiStudentSpecialEducationProgramAssociation> getStudentSpecialEducationProgramAssociations(Integer offset, Integer limit, Boolean totalCount, LocalDate beginDate, Integer educationOrganizationId, Integer programEducationOrganizationId, String programName, String programTypeDescriptor, String studentUniqueId, String specialEducationSettingDescriptor, Boolean ideaEligibility, LocalDate iepBeginDate, LocalDate iepEndDate, LocalDate iepReviewDate, LocalDate lastEvaluationDate, Boolean medicallyFragile, Boolean multiplyDisabled, Double schoolHoursPerWeek, Double specialEducationHoursPerWeek) throws ApiException {
        ApiResponse<List<EdFiStudentSpecialEducationProgramAssociation>> resp = getStudentSpecialEducationProgramAssociationsWithHttpInfo(offset, limit, totalCount, beginDate, educationOrganizationId, programEducationOrganizationId, programName, programTypeDescriptor, studentUniqueId, specialEducationSettingDescriptor, ideaEligibility, iepBeginDate, iepEndDate, iepReviewDate, lastEvaluationDate, medicallyFragile, multiplyDisabled, schoolHoursPerWeek, specialEducationHoursPerWeek);
        return resp.getData();
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param beginDate The month, day, and year on which the Student first received services. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param programEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param programName The formal name of the Program of instruction, training, services, or benefits available through federal, state, or local agencies. (optional)
     * @param programTypeDescriptor The type of program. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param specialEducationSettingDescriptor The major instructional setting (more than 50 percent of a student&#39;s special education program). (optional)
     * @param ideaEligibility Indicator of the eligibility of the student to receive special education services according to the Individuals with Disabilities Education Act (IDEA). (optional)
     * @param iepBeginDate The effective date of the most recent IEP. (optional)
     * @param iepEndDate The end date of the most recent IEP. (optional)
     * @param iepReviewDate The date of the last IEP review. (optional)
     * @param lastEvaluationDate The date of the last special education evaluation. (optional)
     * @param medicallyFragile Indicates whether the Student receiving special education and related services is:          1) in the age range of birth to 22 years, and          2) has a serious, ongoing illness or a chronic condition that has lasted or is anticipated to last at least 12 or more months or has required at least one month of hospitalization, and that requires daily, ongoing medical treatments and monitoring by appropriately trained personnel which may include parents or other family members, and          3) requires the routine use of medical device or of assistive technology to compensate for the loss of usefulness of a body function needed to participate in activities of daily living, and          4) lives with ongoing threat to his or her continued well-being.          Aligns with federal requirements. (optional)
     * @param multiplyDisabled Indicates whether the Student receiving special education and related services has been designated as multiply disabled by the admission, review, and dismissal committee as aligned with federal requirements. (optional)
     * @param schoolHoursPerWeek Indicate the total number of hours of instructional time per week for the school that the student attends. (optional)
     * @param specialEducationHoursPerWeek The number of hours per week for special education instruction and therapy. (optional)
     * @return ApiResponse&lt;List&lt;EdFiStudentSpecialEducationProgramAssociation&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<EdFiStudentSpecialEducationProgramAssociation>> getStudentSpecialEducationProgramAssociationsWithHttpInfo(Integer offset, Integer limit, Boolean totalCount, LocalDate beginDate, Integer educationOrganizationId, Integer programEducationOrganizationId, String programName, String programTypeDescriptor, String studentUniqueId, String specialEducationSettingDescriptor, Boolean ideaEligibility, LocalDate iepBeginDate, LocalDate iepEndDate, LocalDate iepReviewDate, LocalDate lastEvaluationDate, Boolean medicallyFragile, Boolean multiplyDisabled, Double schoolHoursPerWeek, Double specialEducationHoursPerWeek) throws ApiException {
        com.squareup.okhttp.Call call = getStudentSpecialEducationProgramAssociationsCall(offset, limit, totalCount, beginDate, educationOrganizationId, programEducationOrganizationId, programName, programTypeDescriptor, studentUniqueId, specialEducationSettingDescriptor, ideaEligibility, iepBeginDate, iepEndDate, iepReviewDate, lastEvaluationDate, medicallyFragile, multiplyDisabled, schoolHoursPerWeek, specialEducationHoursPerWeek, null, null);
        Type localVarReturnType = new TypeToken<List<EdFiStudentSpecialEducationProgramAssociation>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern). (asynchronously)
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param beginDate The month, day, and year on which the Student first received services. (optional)
     * @param educationOrganizationId The identifier assigned to an education organization. (optional)
     * @param programEducationOrganizationId The identifier assigned to an education organization. (optional)
     * @param programName The formal name of the Program of instruction, training, services, or benefits available through federal, state, or local agencies. (optional)
     * @param programTypeDescriptor The type of program. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param specialEducationSettingDescriptor The major instructional setting (more than 50 percent of a student&#39;s special education program). (optional)
     * @param ideaEligibility Indicator of the eligibility of the student to receive special education services according to the Individuals with Disabilities Education Act (IDEA). (optional)
     * @param iepBeginDate The effective date of the most recent IEP. (optional)
     * @param iepEndDate The end date of the most recent IEP. (optional)
     * @param iepReviewDate The date of the last IEP review. (optional)
     * @param lastEvaluationDate The date of the last special education evaluation. (optional)
     * @param medicallyFragile Indicates whether the Student receiving special education and related services is:          1) in the age range of birth to 22 years, and          2) has a serious, ongoing illness or a chronic condition that has lasted or is anticipated to last at least 12 or more months or has required at least one month of hospitalization, and that requires daily, ongoing medical treatments and monitoring by appropriately trained personnel which may include parents or other family members, and          3) requires the routine use of medical device or of assistive technology to compensate for the loss of usefulness of a body function needed to participate in activities of daily living, and          4) lives with ongoing threat to his or her continued well-being.          Aligns with federal requirements. (optional)
     * @param multiplyDisabled Indicates whether the Student receiving special education and related services has been designated as multiply disabled by the admission, review, and dismissal committee as aligned with federal requirements. (optional)
     * @param schoolHoursPerWeek Indicate the total number of hours of instructional time per week for the school that the student attends. (optional)
     * @param specialEducationHoursPerWeek The number of hours per week for special education instruction and therapy. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getStudentSpecialEducationProgramAssociationsAsync(Integer offset, Integer limit, Boolean totalCount, LocalDate beginDate, Integer educationOrganizationId, Integer programEducationOrganizationId, String programName, String programTypeDescriptor, String studentUniqueId, String specialEducationSettingDescriptor, Boolean ideaEligibility, LocalDate iepBeginDate, LocalDate iepEndDate, LocalDate iepReviewDate, LocalDate lastEvaluationDate, Boolean medicallyFragile, Boolean multiplyDisabled, Double schoolHoursPerWeek, Double specialEducationHoursPerWeek, final ApiCallback<List<EdFiStudentSpecialEducationProgramAssociation>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getStudentSpecialEducationProgramAssociationsCall(offset, limit, totalCount, beginDate, educationOrganizationId, programEducationOrganizationId, programName, programTypeDescriptor, studentUniqueId, specialEducationSettingDescriptor, ideaEligibility, iepBeginDate, iepEndDate, iepReviewDate, lastEvaluationDate, medicallyFragile, multiplyDisabled, schoolHoursPerWeek, specialEducationHoursPerWeek, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<EdFiStudentSpecialEducationProgramAssociation>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getStudentSpecialEducationProgramAssociationsById */
    private com.squareup.okhttp.Call getStudentSpecialEducationProgramAssociationsByIdCall(String id, String ifNoneMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getStudentSpecialEducationProgramAssociationsById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/studentSpecialEducationProgramAssociations/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifNoneMatch != null)
        localVarHeaderParams.put("If-None-Match", apiClient.parameterToString(ifNoneMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return EdFiStudentSpecialEducationProgramAssociation
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EdFiStudentSpecialEducationProgramAssociation getStudentSpecialEducationProgramAssociationsById(String id, String ifNoneMatch) throws ApiException {
        ApiResponse<EdFiStudentSpecialEducationProgramAssociation> resp = getStudentSpecialEducationProgramAssociationsByIdWithHttpInfo(id, ifNoneMatch);
        return resp.getData();
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return ApiResponse&lt;EdFiStudentSpecialEducationProgramAssociation&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EdFiStudentSpecialEducationProgramAssociation> getStudentSpecialEducationProgramAssociationsByIdWithHttpInfo(String id, String ifNoneMatch) throws ApiException {
        com.squareup.okhttp.Call call = getStudentSpecialEducationProgramAssociationsByIdCall(id, ifNoneMatch, null, null);
        Type localVarReturnType = new TypeToken<EdFiStudentSpecialEducationProgramAssociation>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern). (asynchronously)
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getStudentSpecialEducationProgramAssociationsByIdAsync(String id, String ifNoneMatch, final ApiCallback<EdFiStudentSpecialEducationProgramAssociation> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getStudentSpecialEducationProgramAssociationsByIdCall(id, ifNoneMatch, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EdFiStudentSpecialEducationProgramAssociation>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for postStudentSpecialEducationProgramAssociation */
    private com.squareup.okhttp.Call postStudentSpecialEducationProgramAssociationCall(EdFiStudentSpecialEducationProgramAssociation studentSpecialEducationProgramAssociation, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = studentSpecialEducationProgramAssociation;
        
        // verify the required parameter 'studentSpecialEducationProgramAssociation' is set
        if (studentSpecialEducationProgramAssociation == null) {
            throw new ApiException("Missing the required parameter 'studentSpecialEducationProgramAssociation' when calling postStudentSpecialEducationProgramAssociation(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/studentSpecialEducationProgramAssociations".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param studentSpecialEducationProgramAssociation The JSON representation of the \&quot;studentSpecialEducationProgramAssociation\&quot; resource to be created or updated. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postStudentSpecialEducationProgramAssociation(EdFiStudentSpecialEducationProgramAssociation studentSpecialEducationProgramAssociation) throws ApiException {
        postStudentSpecialEducationProgramAssociationWithHttpInfo(studentSpecialEducationProgramAssociation);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param studentSpecialEducationProgramAssociation The JSON representation of the \&quot;studentSpecialEducationProgramAssociation\&quot; resource to be created or updated. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postStudentSpecialEducationProgramAssociationWithHttpInfo(EdFiStudentSpecialEducationProgramAssociation studentSpecialEducationProgramAssociation) throws ApiException {
        com.squareup.okhttp.Call call = postStudentSpecialEducationProgramAssociationCall(studentSpecialEducationProgramAssociation, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource. (asynchronously)
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param studentSpecialEducationProgramAssociation The JSON representation of the \&quot;studentSpecialEducationProgramAssociation\&quot; resource to be created or updated. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postStudentSpecialEducationProgramAssociationAsync(EdFiStudentSpecialEducationProgramAssociation studentSpecialEducationProgramAssociation, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postStudentSpecialEducationProgramAssociationCall(studentSpecialEducationProgramAssociation, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for putStudentSpecialEducationProgramAssociation */
    private com.squareup.okhttp.Call putStudentSpecialEducationProgramAssociationCall(String id, EdFiStudentSpecialEducationProgramAssociation studentSpecialEducationProgramAssociation, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = studentSpecialEducationProgramAssociation;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling putStudentSpecialEducationProgramAssociation(Async)");
        }
        
        // verify the required parameter 'studentSpecialEducationProgramAssociation' is set
        if (studentSpecialEducationProgramAssociation == null) {
            throw new ApiException("Missing the required parameter 'studentSpecialEducationProgramAssociation' when calling putStudentSpecialEducationProgramAssociation(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/ed-fi/studentSpecialEducationProgramAssociations/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param studentSpecialEducationProgramAssociation The JSON representation of the \&quot;studentSpecialEducationProgramAssociation\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void putStudentSpecialEducationProgramAssociation(String id, EdFiStudentSpecialEducationProgramAssociation studentSpecialEducationProgramAssociation, String ifMatch) throws ApiException {
        putStudentSpecialEducationProgramAssociationWithHttpInfo(id, studentSpecialEducationProgramAssociation, ifMatch);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param studentSpecialEducationProgramAssociation The JSON representation of the \&quot;studentSpecialEducationProgramAssociation\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> putStudentSpecialEducationProgramAssociationWithHttpInfo(String id, EdFiStudentSpecialEducationProgramAssociation studentSpecialEducationProgramAssociation, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = putStudentSpecialEducationProgramAssociationCall(id, studentSpecialEducationProgramAssociation, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates or creates a resource based on the resource identifier. (asynchronously)
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param studentSpecialEducationProgramAssociation The JSON representation of the \&quot;studentSpecialEducationProgramAssociation\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call putStudentSpecialEducationProgramAssociationAsync(String id, EdFiStudentSpecialEducationProgramAssociation studentSpecialEducationProgramAssociation, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = putStudentSpecialEducationProgramAssociationCall(id, studentSpecialEducationProgramAssociation, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
