/**
 * Ed-Fi Operational Data Store API
 * The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. The Ed-Fi ODS / API supports both transactional and bulk modes of operation.  ***  > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.*  *** 
 *
 * OpenAPI spec version: 3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package org.edfi.api.resource;

import org.edfi.api.ApiCallback;
import org.edfi.api.ApiClient;
import org.edfi.api.ApiException;
import org.edfi.api.ApiResponse;
import org.edfi.api.Configuration;
import org.edfi.api.Pair;
import org.edfi.api.ProgressRequestBody;
import org.edfi.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import org.edfi.model.resource.TpdmTeacherCandidate;
import org.joda.time.LocalDate;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TeacherCandidatesApi {
    private ApiClient apiClient;

    public TeacherCandidatesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TeacherCandidatesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for deleteTeacherCandidateById */
    private com.squareup.okhttp.Call deleteTeacherCandidateByIdCall(String id, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteTeacherCandidateById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/tpdm/teacherCandidates/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteTeacherCandidateById(String id, String ifMatch) throws ApiException {
        deleteTeacherCandidateByIdWithHttpInfo(id, ifMatch);
    }

    /**
     * Deletes an existing resource using the resource identifier.
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteTeacherCandidateByIdWithHttpInfo(String id, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = deleteTeacherCandidateByIdCall(id, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deletes an existing resource using the resource identifier. (asynchronously)
     * The DELETE operation is used to delete an existing resource by identifier. If the resource doesn&#39;t exist, an error will result (the resource will not be found).
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifMatch The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteTeacherCandidateByIdAsync(String id, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteTeacherCandidateByIdCall(id, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getTeacherCandidates */
    private com.squareup.okhttp.Call getTeacherCandidatesCall(Integer offset, Integer limit, Boolean totalCount, String teacherCandidateIdentifier, String studentUniqueId, String citizenshipStatusDescriptor, String birthCountryDescriptor, String englishLanguageExamDescriptor, String genderDescriptor, String limitedEnglishProficiencyDescriptor, String oldEthnicityDescriptor, String previousCareerDescriptor, String sexDescriptor, String birthSexDescriptor, String birthStateAbbreviationDescriptor, String birthCity, LocalDate birthDate, String birthInternationalProvince, LocalDate dateEnteredUS, String displacementStatus, Boolean economicDisadvantaged, Boolean firstGenerationStudent, String firstName, String generationCodeSuffix, Boolean hispanicLatinoEthnicity, String id, String lastSurname, String loginId, String maidenName, String middleName, Boolean multipleBirthStatus, String personalTitlePrefix, String profileThumbnail, Boolean programComplete, Double tuitionCost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/tpdm/teacherCandidates".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (totalCount != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "totalCount", totalCount));
        if (teacherCandidateIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "teacherCandidateIdentifier", teacherCandidateIdentifier));
        if (studentUniqueId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "studentUniqueId", studentUniqueId));
        if (citizenshipStatusDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "citizenshipStatusDescriptor", citizenshipStatusDescriptor));
        if (birthCountryDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "birthCountryDescriptor", birthCountryDescriptor));
        if (englishLanguageExamDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "englishLanguageExamDescriptor", englishLanguageExamDescriptor));
        if (genderDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "genderDescriptor", genderDescriptor));
        if (limitedEnglishProficiencyDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limitedEnglishProficiencyDescriptor", limitedEnglishProficiencyDescriptor));
        if (oldEthnicityDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "oldEthnicityDescriptor", oldEthnicityDescriptor));
        if (previousCareerDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "previousCareerDescriptor", previousCareerDescriptor));
        if (sexDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sexDescriptor", sexDescriptor));
        if (birthSexDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "birthSexDescriptor", birthSexDescriptor));
        if (birthStateAbbreviationDescriptor != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "birthStateAbbreviationDescriptor", birthStateAbbreviationDescriptor));
        if (birthCity != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "birthCity", birthCity));
        if (birthDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "birthDate", birthDate));
        if (birthInternationalProvince != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "birthInternationalProvince", birthInternationalProvince));
        if (dateEnteredUS != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "dateEnteredUS", dateEnteredUS));
        if (displacementStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "displacementStatus", displacementStatus));
        if (economicDisadvantaged != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "economicDisadvantaged", economicDisadvantaged));
        if (firstGenerationStudent != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "firstGenerationStudent", firstGenerationStudent));
        if (firstName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "firstName", firstName));
        if (generationCodeSuffix != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "generationCodeSuffix", generationCodeSuffix));
        if (hispanicLatinoEthnicity != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "hispanicLatinoEthnicity", hispanicLatinoEthnicity));
        if (id != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "id", id));
        if (lastSurname != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "lastSurname", lastSurname));
        if (loginId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "loginId", loginId));
        if (maidenName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maidenName", maidenName));
        if (middleName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "middleName", middleName));
        if (multipleBirthStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "multipleBirthStatus", multipleBirthStatus));
        if (personalTitlePrefix != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "personalTitlePrefix", personalTitlePrefix));
        if (profileThumbnail != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "profileThumbnail", profileThumbnail));
        if (programComplete != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "programComplete", programComplete));
        if (tuitionCost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "tuitionCost", tuitionCost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param teacherCandidateIdentifier A unique alphanumeric code assigned to a teacher candidate. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param citizenshipStatusDescriptor An indicator of whether or not the person is a U.S. citizen. (optional)
     * @param birthCountryDescriptor The country in which an individual is born. It is strongly recommended that entries use only ISO 3166 2-letter country codes. (optional)
     * @param englishLanguageExamDescriptor Indicates that a person passed, failed, or did not take an English Language assessment (e.g., TOEFFL). (optional)
     * @param genderDescriptor The gender with which a person associates. (optional)
     * @param limitedEnglishProficiencyDescriptor An indication that the student has been identified as limited English proficient by the Language Proficiency Assessment Committee (LPAC), or English proficient. (optional)
     * @param oldEthnicityDescriptor Previous definition of Ethnicity combining Hispanic/Latino and race:        1 - American Indian or Alaskan Native        2 - Asian or Pacific Islander        3 - Black, not of Hispanic origin        4 - Hispanic        5 - White, not of Hispanic origin. (optional)
     * @param previousCareerDescriptor The career previous for an individual. (optional)
     * @param sexDescriptor A person&#39;s gender. (optional)
     * @param birthSexDescriptor A person&#39;s gender at birth. (optional)
     * @param birthStateAbbreviationDescriptor The abbreviation for the name of the state (within the United States) or extra-state jurisdiction in which an individual was born. (optional)
     * @param birthCity The city the student was born in. (optional)
     * @param birthDate The month, day, and year on which an individual was born. (optional)
     * @param birthInternationalProvince For students born outside of the U.S., the Province or jurisdiction in which an individual is born. (optional)
     * @param dateEnteredUS For students born outside of the U.S., the date the student entered the U.S. (optional)
     * @param displacementStatus Indicates a state health or weather related event that displaces a group of students, and may require additional funding, educational, or social services. (optional)
     * @param economicDisadvantaged An indication of inadequate financial condition of an individual&#39;s family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy. (optional)
     * @param firstGenerationStudent Indicator of whether individual is a first generation college student. (optional)
     * @param firstName A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change. (optional)
     * @param generationCodeSuffix An appendage, if any, used to denote an individual&#39;s generation in his family (e.g., Jr., Sr., III). (optional)
     * @param hispanicLatinoEthnicity An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, \&quot;Spanish origin,\&quot; can be used in addition to \&quot;Hispanic or Latino.\&quot; (optional)
     * @param id  (optional)
     * @param lastSurname The name borne in common by members of a family. (optional)
     * @param loginId The login ID for the user; used for security access control interface. (optional)
     * @param maidenName The person&#39;s maiden name. (optional)
     * @param middleName A secondary name given to an individual at birth, baptism, or during another naming ceremony. (optional)
     * @param multipleBirthStatus Indicator of whether the student was born with other siblings (i.e., twins, triplets, etc.) (optional)
     * @param personalTitlePrefix A prefix used to denote the title, degree, position, or seniority of the person. (optional)
     * @param profileThumbnail Locator for the student photo. (optional)
     * @param programComplete An indication of whether a teacher candidate has completed the teacher preparation program. (optional)
     * @param tuitionCost The tuition for a person&#39;s participation in a program, service. or course. (optional)
     * @return List&lt;TpdmTeacherCandidate&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<TpdmTeacherCandidate> getTeacherCandidates(Integer offset, Integer limit, Boolean totalCount, String teacherCandidateIdentifier, String studentUniqueId, String citizenshipStatusDescriptor, String birthCountryDescriptor, String englishLanguageExamDescriptor, String genderDescriptor, String limitedEnglishProficiencyDescriptor, String oldEthnicityDescriptor, String previousCareerDescriptor, String sexDescriptor, String birthSexDescriptor, String birthStateAbbreviationDescriptor, String birthCity, LocalDate birthDate, String birthInternationalProvince, LocalDate dateEnteredUS, String displacementStatus, Boolean economicDisadvantaged, Boolean firstGenerationStudent, String firstName, String generationCodeSuffix, Boolean hispanicLatinoEthnicity, String id, String lastSurname, String loginId, String maidenName, String middleName, Boolean multipleBirthStatus, String personalTitlePrefix, String profileThumbnail, Boolean programComplete, Double tuitionCost) throws ApiException {
        ApiResponse<List<TpdmTeacherCandidate>> resp = getTeacherCandidatesWithHttpInfo(offset, limit, totalCount, teacherCandidateIdentifier, studentUniqueId, citizenshipStatusDescriptor, birthCountryDescriptor, englishLanguageExamDescriptor, genderDescriptor, limitedEnglishProficiencyDescriptor, oldEthnicityDescriptor, previousCareerDescriptor, sexDescriptor, birthSexDescriptor, birthStateAbbreviationDescriptor, birthCity, birthDate, birthInternationalProvince, dateEnteredUS, displacementStatus, economicDisadvantaged, firstGenerationStudent, firstName, generationCodeSuffix, hispanicLatinoEthnicity, id, lastSurname, loginId, maidenName, middleName, multipleBirthStatus, personalTitlePrefix, profileThumbnail, programComplete, tuitionCost);
        return resp.getData();
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern).
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param teacherCandidateIdentifier A unique alphanumeric code assigned to a teacher candidate. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param citizenshipStatusDescriptor An indicator of whether or not the person is a U.S. citizen. (optional)
     * @param birthCountryDescriptor The country in which an individual is born. It is strongly recommended that entries use only ISO 3166 2-letter country codes. (optional)
     * @param englishLanguageExamDescriptor Indicates that a person passed, failed, or did not take an English Language assessment (e.g., TOEFFL). (optional)
     * @param genderDescriptor The gender with which a person associates. (optional)
     * @param limitedEnglishProficiencyDescriptor An indication that the student has been identified as limited English proficient by the Language Proficiency Assessment Committee (LPAC), or English proficient. (optional)
     * @param oldEthnicityDescriptor Previous definition of Ethnicity combining Hispanic/Latino and race:        1 - American Indian or Alaskan Native        2 - Asian or Pacific Islander        3 - Black, not of Hispanic origin        4 - Hispanic        5 - White, not of Hispanic origin. (optional)
     * @param previousCareerDescriptor The career previous for an individual. (optional)
     * @param sexDescriptor A person&#39;s gender. (optional)
     * @param birthSexDescriptor A person&#39;s gender at birth. (optional)
     * @param birthStateAbbreviationDescriptor The abbreviation for the name of the state (within the United States) or extra-state jurisdiction in which an individual was born. (optional)
     * @param birthCity The city the student was born in. (optional)
     * @param birthDate The month, day, and year on which an individual was born. (optional)
     * @param birthInternationalProvince For students born outside of the U.S., the Province or jurisdiction in which an individual is born. (optional)
     * @param dateEnteredUS For students born outside of the U.S., the date the student entered the U.S. (optional)
     * @param displacementStatus Indicates a state health or weather related event that displaces a group of students, and may require additional funding, educational, or social services. (optional)
     * @param economicDisadvantaged An indication of inadequate financial condition of an individual&#39;s family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy. (optional)
     * @param firstGenerationStudent Indicator of whether individual is a first generation college student. (optional)
     * @param firstName A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change. (optional)
     * @param generationCodeSuffix An appendage, if any, used to denote an individual&#39;s generation in his family (e.g., Jr., Sr., III). (optional)
     * @param hispanicLatinoEthnicity An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, \&quot;Spanish origin,\&quot; can be used in addition to \&quot;Hispanic or Latino.\&quot; (optional)
     * @param id  (optional)
     * @param lastSurname The name borne in common by members of a family. (optional)
     * @param loginId The login ID for the user; used for security access control interface. (optional)
     * @param maidenName The person&#39;s maiden name. (optional)
     * @param middleName A secondary name given to an individual at birth, baptism, or during another naming ceremony. (optional)
     * @param multipleBirthStatus Indicator of whether the student was born with other siblings (i.e., twins, triplets, etc.) (optional)
     * @param personalTitlePrefix A prefix used to denote the title, degree, position, or seniority of the person. (optional)
     * @param profileThumbnail Locator for the student photo. (optional)
     * @param programComplete An indication of whether a teacher candidate has completed the teacher preparation program. (optional)
     * @param tuitionCost The tuition for a person&#39;s participation in a program, service. or course. (optional)
     * @return ApiResponse&lt;List&lt;TpdmTeacherCandidate&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<TpdmTeacherCandidate>> getTeacherCandidatesWithHttpInfo(Integer offset, Integer limit, Boolean totalCount, String teacherCandidateIdentifier, String studentUniqueId, String citizenshipStatusDescriptor, String birthCountryDescriptor, String englishLanguageExamDescriptor, String genderDescriptor, String limitedEnglishProficiencyDescriptor, String oldEthnicityDescriptor, String previousCareerDescriptor, String sexDescriptor, String birthSexDescriptor, String birthStateAbbreviationDescriptor, String birthCity, LocalDate birthDate, String birthInternationalProvince, LocalDate dateEnteredUS, String displacementStatus, Boolean economicDisadvantaged, Boolean firstGenerationStudent, String firstName, String generationCodeSuffix, Boolean hispanicLatinoEthnicity, String id, String lastSurname, String loginId, String maidenName, String middleName, Boolean multipleBirthStatus, String personalTitlePrefix, String profileThumbnail, Boolean programComplete, Double tuitionCost) throws ApiException {
        com.squareup.okhttp.Call call = getTeacherCandidatesCall(offset, limit, totalCount, teacherCandidateIdentifier, studentUniqueId, citizenshipStatusDescriptor, birthCountryDescriptor, englishLanguageExamDescriptor, genderDescriptor, limitedEnglishProficiencyDescriptor, oldEthnicityDescriptor, previousCareerDescriptor, sexDescriptor, birthSexDescriptor, birthStateAbbreviationDescriptor, birthCity, birthDate, birthInternationalProvince, dateEnteredUS, displacementStatus, economicDisadvantaged, firstGenerationStudent, firstName, generationCodeSuffix, hispanicLatinoEthnicity, id, lastSurname, loginId, maidenName, middleName, multipleBirthStatus, personalTitlePrefix, profileThumbnail, programComplete, tuitionCost, null, null);
        Type localVarReturnType = new TypeToken<List<TpdmTeacherCandidate>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves specific resources using the resource&#39;s property values (using the \&quot;Get\&quot; pattern). (asynchronously)
     * This GET operation provides access to resources using the \&quot;Get\&quot; search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).
     * @param offset Indicates how many items should be skipped before returning results. (optional, default to 0)
     * @param limit Indicates the maximum number of items that should be returned in the results. (optional, default to 25)
     * @param totalCount Indicates if the total number of items available should be returned in the &#39;Total-Count&#39; header of the response.  If set to false, &#39;Total-Count&#39; header will not be provided. (optional, default to false)
     * @param teacherCandidateIdentifier A unique alphanumeric code assigned to a teacher candidate. (optional)
     * @param studentUniqueId A unique alphanumeric code assigned to a student. (optional)
     * @param citizenshipStatusDescriptor An indicator of whether or not the person is a U.S. citizen. (optional)
     * @param birthCountryDescriptor The country in which an individual is born. It is strongly recommended that entries use only ISO 3166 2-letter country codes. (optional)
     * @param englishLanguageExamDescriptor Indicates that a person passed, failed, or did not take an English Language assessment (e.g., TOEFFL). (optional)
     * @param genderDescriptor The gender with which a person associates. (optional)
     * @param limitedEnglishProficiencyDescriptor An indication that the student has been identified as limited English proficient by the Language Proficiency Assessment Committee (LPAC), or English proficient. (optional)
     * @param oldEthnicityDescriptor Previous definition of Ethnicity combining Hispanic/Latino and race:        1 - American Indian or Alaskan Native        2 - Asian or Pacific Islander        3 - Black, not of Hispanic origin        4 - Hispanic        5 - White, not of Hispanic origin. (optional)
     * @param previousCareerDescriptor The career previous for an individual. (optional)
     * @param sexDescriptor A person&#39;s gender. (optional)
     * @param birthSexDescriptor A person&#39;s gender at birth. (optional)
     * @param birthStateAbbreviationDescriptor The abbreviation for the name of the state (within the United States) or extra-state jurisdiction in which an individual was born. (optional)
     * @param birthCity The city the student was born in. (optional)
     * @param birthDate The month, day, and year on which an individual was born. (optional)
     * @param birthInternationalProvince For students born outside of the U.S., the Province or jurisdiction in which an individual is born. (optional)
     * @param dateEnteredUS For students born outside of the U.S., the date the student entered the U.S. (optional)
     * @param displacementStatus Indicates a state health or weather related event that displaces a group of students, and may require additional funding, educational, or social services. (optional)
     * @param economicDisadvantaged An indication of inadequate financial condition of an individual&#39;s family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy. (optional)
     * @param firstGenerationStudent Indicator of whether individual is a first generation college student. (optional)
     * @param firstName A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change. (optional)
     * @param generationCodeSuffix An appendage, if any, used to denote an individual&#39;s generation in his family (e.g., Jr., Sr., III). (optional)
     * @param hispanicLatinoEthnicity An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, \&quot;Spanish origin,\&quot; can be used in addition to \&quot;Hispanic or Latino.\&quot; (optional)
     * @param id  (optional)
     * @param lastSurname The name borne in common by members of a family. (optional)
     * @param loginId The login ID for the user; used for security access control interface. (optional)
     * @param maidenName The person&#39;s maiden name. (optional)
     * @param middleName A secondary name given to an individual at birth, baptism, or during another naming ceremony. (optional)
     * @param multipleBirthStatus Indicator of whether the student was born with other siblings (i.e., twins, triplets, etc.) (optional)
     * @param personalTitlePrefix A prefix used to denote the title, degree, position, or seniority of the person. (optional)
     * @param profileThumbnail Locator for the student photo. (optional)
     * @param programComplete An indication of whether a teacher candidate has completed the teacher preparation program. (optional)
     * @param tuitionCost The tuition for a person&#39;s participation in a program, service. or course. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getTeacherCandidatesAsync(Integer offset, Integer limit, Boolean totalCount, String teacherCandidateIdentifier, String studentUniqueId, String citizenshipStatusDescriptor, String birthCountryDescriptor, String englishLanguageExamDescriptor, String genderDescriptor, String limitedEnglishProficiencyDescriptor, String oldEthnicityDescriptor, String previousCareerDescriptor, String sexDescriptor, String birthSexDescriptor, String birthStateAbbreviationDescriptor, String birthCity, LocalDate birthDate, String birthInternationalProvince, LocalDate dateEnteredUS, String displacementStatus, Boolean economicDisadvantaged, Boolean firstGenerationStudent, String firstName, String generationCodeSuffix, Boolean hispanicLatinoEthnicity, String id, String lastSurname, String loginId, String maidenName, String middleName, Boolean multipleBirthStatus, String personalTitlePrefix, String profileThumbnail, Boolean programComplete, Double tuitionCost, final ApiCallback<List<TpdmTeacherCandidate>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTeacherCandidatesCall(offset, limit, totalCount, teacherCandidateIdentifier, studentUniqueId, citizenshipStatusDescriptor, birthCountryDescriptor, englishLanguageExamDescriptor, genderDescriptor, limitedEnglishProficiencyDescriptor, oldEthnicityDescriptor, previousCareerDescriptor, sexDescriptor, birthSexDescriptor, birthStateAbbreviationDescriptor, birthCity, birthDate, birthInternationalProvince, dateEnteredUS, displacementStatus, economicDisadvantaged, firstGenerationStudent, firstName, generationCodeSuffix, hispanicLatinoEthnicity, id, lastSurname, loginId, maidenName, middleName, multipleBirthStatus, personalTitlePrefix, profileThumbnail, programComplete, tuitionCost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<TpdmTeacherCandidate>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getTeacherCandidatesById */
    private com.squareup.okhttp.Call getTeacherCandidatesByIdCall(String id, String ifNoneMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getTeacherCandidatesById(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/tpdm/teacherCandidates/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifNoneMatch != null)
        localVarHeaderParams.put("If-None-Match", apiClient.parameterToString(ifNoneMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return TpdmTeacherCandidate
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TpdmTeacherCandidate getTeacherCandidatesById(String id, String ifNoneMatch) throws ApiException {
        ApiResponse<TpdmTeacherCandidate> resp = getTeacherCandidatesByIdWithHttpInfo(id, ifNoneMatch);
        return resp.getData();
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern).
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return ApiResponse&lt;TpdmTeacherCandidate&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TpdmTeacherCandidate> getTeacherCandidatesByIdWithHttpInfo(String id, String ifNoneMatch) throws ApiException {
        com.squareup.okhttp.Call call = getTeacherCandidatesByIdCall(id, ifNoneMatch, null, null);
        Type localVarReturnType = new TypeToken<TpdmTeacherCandidate>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves a specific resource using the resource&#39;s identifier (using the \&quot;Get By Id\&quot; pattern). (asynchronously)
     * This GET operation retrieves a resource by the specified resource identifier.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param ifNoneMatch The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getTeacherCandidatesByIdAsync(String id, String ifNoneMatch, final ApiCallback<TpdmTeacherCandidate> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTeacherCandidatesByIdCall(id, ifNoneMatch, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TpdmTeacherCandidate>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for postTeacherCandidate */
    private com.squareup.okhttp.Call postTeacherCandidateCall(TpdmTeacherCandidate teacherCandidate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = teacherCandidate;
        
        // verify the required parameter 'teacherCandidate' is set
        if (teacherCandidate == null) {
            throw new ApiException("Missing the required parameter 'teacherCandidate' when calling postTeacherCandidate(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/tpdm/teacherCandidates".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param teacherCandidate The JSON representation of the \&quot;teacherCandidate\&quot; resource to be created or updated. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postTeacherCandidate(TpdmTeacherCandidate teacherCandidate) throws ApiException {
        postTeacherCandidateWithHttpInfo(teacherCandidate);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource.
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param teacherCandidate The JSON representation of the \&quot;teacherCandidate\&quot; resource to be created or updated. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postTeacherCandidateWithHttpInfo(TpdmTeacherCandidate teacherCandidate) throws ApiException {
        com.squareup.okhttp.Call call = postTeacherCandidateCall(teacherCandidate, null, null);
        return apiClient.execute(call);
    }

    /**
     * Creates or updates resources based on the natural key values of the supplied resource. (asynchronously)
     * The POST operation can be used to create or update resources. In database terms, this is often referred to as an \&quot;upsert\&quot; operation (insert + update). Clients should NOT include the resource \&quot;id\&quot; in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \&quot;id\&quot;). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.
     * @param teacherCandidate The JSON representation of the \&quot;teacherCandidate\&quot; resource to be created or updated. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postTeacherCandidateAsync(TpdmTeacherCandidate teacherCandidate, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postTeacherCandidateCall(teacherCandidate, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for putTeacherCandidate */
    private com.squareup.okhttp.Call putTeacherCandidateCall(String id, TpdmTeacherCandidate teacherCandidate, String ifMatch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = teacherCandidate;
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling putTeacherCandidate(Async)");
        }
        
        // verify the required parameter 'teacherCandidate' is set
        if (teacherCandidate == null) {
            throw new ApiException("Missing the required parameter 'teacherCandidate' when calling putTeacherCandidate(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/tpdm/teacherCandidates/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (ifMatch != null)
        localVarHeaderParams.put("If-Match", apiClient.parameterToString(ifMatch));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2_client_credentials" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param teacherCandidate The JSON representation of the \&quot;teacherCandidate\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void putTeacherCandidate(String id, TpdmTeacherCandidate teacherCandidate, String ifMatch) throws ApiException {
        putTeacherCandidateWithHttpInfo(id, teacherCandidate, ifMatch);
    }

    /**
     * Updates or creates a resource based on the resource identifier.
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param teacherCandidate The JSON representation of the \&quot;teacherCandidate\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> putTeacherCandidateWithHttpInfo(String id, TpdmTeacherCandidate teacherCandidate, String ifMatch) throws ApiException {
        com.squareup.okhttp.Call call = putTeacherCandidateCall(id, teacherCandidate, ifMatch, null, null);
        return apiClient.execute(call);
    }

    /**
     * Updates or creates a resource based on the resource identifier. (asynchronously)
     * The PUT operation is used to update or create a resource by identifier. If the resource doesn&#39;t exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \&quot;id\&quot; is provided in the JSON body, it will be ignored as well.
     * @param id A resource identifier that uniquely identifies the resource. (required)
     * @param teacherCandidate The JSON representation of the \&quot;teacherCandidate\&quot; resource to be created or updated. (required)
     * @param ifMatch The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call putTeacherCandidateAsync(String id, TpdmTeacherCandidate teacherCandidate, String ifMatch, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = putTeacherCandidateCall(id, teacherCandidate, ifMatch, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
